<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">
        Dashboard - Utils.do
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(3)}
         <p:growl showDetail="true" globalOnly="true"/>
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="card  card-tasks">
                        <div class="card-header ">
                            <h5 class="card-category">Listas</h5>
                            <h4 class="card-title">Agregar nueva lista</h4>
                        </div>
                        <div class="card-body ">
                            <div class="table-full-width table-responsive">
                                <h:form>
                                    <h:outputLabel value="Nombre de la lista:" for="nombre" />
                                    <h:inputText id="nombre" value="#{listaBean.lista.nombre}" title="Nombre" required="true" requiredMessage="El campo es re requerido"/>
                                    <h:commandButton styleClass="btn btn-default" action="#{listaBean.insertarLista(loginBean.usuario.idUsuario)}" value="Agregar"></h:commandButton>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-category">Lista</h5>
                            <h4 class="card-title">Listas creadas</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <h:form>
                                    <h:dataTable class="table" value="#{listaBean.getListaListas(loginBean.usuario.idUsuario)}" var="item">
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText class=" text-primary" value="Código"/>
                                            </f:facet>
                                            <h:outputText value="#{item.idLista}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText class=" text-primary" value="Nombre"/>
                                            </f:facet>
                                            <h:outputText  value="#{item.nombre}"/>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText class=" text-primary" value="Opción 1"/>
                                            </f:facet>
                                            <h:commandButton styleClass="btn btn-info" value="Modificar"></h:commandButton>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText class=" text-primary" value="Opción 2"/>
                                            </f:facet>

                                            <h:commandButton styleClass="btn btn-dark" value="Ver detalles"></h:commandButton>
                                        </h:column>
                                        <h:column>
                                            <f:facet name="header">
                                                <h:outputText class=" text-primary" value="Opción 3"/>
                                            </f:facet>          
                                            <h:commandButton onclick="return confirma();" styleClass="btn btn-danger" action="#{listaBean.eliminarLista(item.idLista)}" value="Eliminar"></h:commandButton>
                                        </h:column>
                                    </h:dataTable>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">
        <h:outputScript>
            function confirma(){
            return alertify.dialog('confirm');
            }
        </h:outputScript>
    </ui:define>

</ui:composition>

