<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="titulo">
        Historial de Búsqueda - Utils.do
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.sesionRequerida()}
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="card  card-tasks">
                        <div class="card-header ">
                            <h5 class="card-category">Buscar en historial</h5>
                            <h4 class="card-title">Filtrar Historial por:</h4>
                        </div>
                        <div class="card-body ">
                            <div class="table-full-width table-responsive">
                                <h:form id="busquedaForm">
                                    <h:outputLabel value="Nombre:" for="nombre" />
                                    <br />
                                    <h:inputText value="#{historialBean.historial.busqueda}">
                                        <!--<f:ajax listener="" render="tablaHistorial" event="keydown"/>-->
                                        <f:ajax listener="#{historialBean.listarHistorialUsuario(loginBean.usuario)}" render="tablaHistorial" event="keydown"/>
                                    </h:inputText>
                                    <br />

                                </h:form>
                                <h:form id="fechaForm">
                                    <div class="form-group">
                                        <label for="fechaNacimiento">Fecha de búsqueda:</label>
                                        <div class="space-10"></div>
                                        <p:datePicker  id="fecha" value="#{historialBean.historial.fechaHora}" required="true" requiredMessage="Indique una fecha de búsqueda" showIcon="true" maxdate="#{usuarioBean.fechaActual}" pattern="yyyy-MM-dd">
                                            <p:ajax  event="dateSelect" listener="#{historialBean.listarporFecha(loginBean.usuario)}" update="tablaHistorial"/>
                                        </p:datePicker>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-10"></div>
                                        <div class="space-50"></div>
                                        <h:message for="fecha" style="color:red"></h:message>
                                    </div>
                                </h:form>
                                <div class="space-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-category">Historial de búsqueda</h5>
                            <h4 class="card-title">Historial de búsqueda</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <h:form prependId="false">
                                    <p:dataTable class="table" value="#{historialBean.listarHistorialUsuario(loginBean.usuario)}" var="item" id="tablaHistorial"
                                                 rows="5" paginator="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                                                 rowsPerPageTemplate="5,10,15" styleClass="table table-bordered table-striped">
                                        <p:column headerText="Búsqueda realizada">
                                            <h:commandLink action="#{historialBean.redireccion()}" value="#{item.busqueda}"/>
                                        </p:column>
                                        <p:column headerText="Fecha y Hora">
                                            <h:outputText value="#{item.fechaHora}">
                                                <f:convertDateTime pattern="dd/MM/yyyy - HH:mm" />
                                            </h:outputText>
                                        </p:column>
                                    </p:dataTable>
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">
        <h:outputScript library="js" name="jquery.magnific-popup.js" />
        <h:outputScript library="js" name='jquery.nice-select.min.js'/>
    </ui:define>
</ui:composition>

