<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../WEB-INF/landig-layout-base.xhtml"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"

                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">

        Iniciar sesión - Utils.do 
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.mostrarLogin()}
        <section class="advance_feature learning_part">
            <div class="container">
                <div class="row align-items-sm-center align-items-xl-stretch">
                    <div class="col-md-6 col-lg-6 shadow-sm p-3">
                        <div class="learning_member_text">
                            <h5>Utils.do</h5>

                            <h2>Iniciar sesión</h2>

                            <h:form id="form"  class="col-lg-10"> 
                                <div class="form-group">
                                    <h:inputText styleClass="single-input-secondary" pt:placeholder="Correo electrónico" id="email"  value="#{loginBean.usuario.email}" required="true" requiredMessage="Ingrese su direcciï¿½n de correo electrï¿½nico" validatorMessage="Ingrese un correo electrï¿½nico vï¿½lido">
                                        <f:validateRegex pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"/>
                                    </h:inputText>
                                    <h:message for="email" errorStyle="color:red"/>
                                </div>
                                <div class="form-group" >


                                    <h:inputSecret styleClass="single-input-secondary" pt:placeholder="Contraseña" id="password" value="#{loginBean.usuario.password}" required="true" requiredMessage="Ingrese su contraseÃ±a por favor"></h:inputSecret>
                                    <h:message for="password" errorStyle="color:red"/>


                                </div>
                                <div class="row">
                                    <h:messages errorStyle="color:red" globalOnly="true" id="errorMessage"/>
                                </div>
                                <p:growl showDetail="true" globalOnly="true"/>
                                <h:commandButton value="Iniciar" class="btn_1" action="#{loginBean.validar()}">
                                    <f:ajax execute="@form" render="@form" />
                                </h:commandButton>&nbsp;&nbsp;
                                <h:outputLink value="recovery.xhtml" class="btn_2" >Olvide mi contraseña</h:outputLink>	
                            </h:form>

                        </div>
                        <h:form class="center-all">
                            <h:outputLink value="registrate.xhtml" class="btn_1" >¿No tienes Cuenta? Registrate</h:outputLink>	
                        </h:form>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="learning_img">
                            <img src="../resources/img/advance_feature_img.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br></br>
        <br></br>
    </ui:define>

</ui:composition>
