<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../WEB-INF/landig-layout-base.xhtml"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="titulo">
        Recuperar contraseña - Utils.do 
    </ui:define>

    <ui:define name="Style">

    </ui:define>

    <ui:define name="contenido">
        #{loginBean.mostrarLogin()}
        <section class="advance_feature learning_part">
            <div class="container">
                <div class="row align-items-sm-center align-items-xl-stretch">
                    <div class="col-md-6 col-lg-6 shadow-sm p-3">
                        <div class="learning_member_text">
                            <h5>Utils.do</h5>
                            <h2>Recuperar contraseña</h2>
                            <h:form id="form"  class="col-lg-10"> 
                                <div class="form-group">
                                    <h:inputText styleClass="single-input-secondary" pt:placeholder="Correo electrónico" id="email"  value="#{loginBean.usuario.email}" required="true" requiredMessage="Ingrese su dirección de correo electrónico" validatorMessage="Ingrese un correo electrónico válido">
                                        <f:validateRegex pattern="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"/>
                                    </h:inputText>
                                    <h:messages for="email" errorStyle="color:red"/>
                                </div>
                                
                                <h:commandButton value="Continuar" class="btn_1" action="#{loginBean.recuperarCorreo()}">
                                    <f:ajax execute="@form" render="@form" />
                                </h:commandButton>
                            </h:form>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="learning_img">
                            <img src="../resources/img/advance_feature_img.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br></br>
        <br></br>
    </ui:define>

    <ui:define name="scripts">

    </ui:define>

</ui:composition>
