<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../WEB-INF/landig-layout-base.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">
        Registrate - Utils.do
    </ui:define>

    <ui:define name="contenido">
        <br></br>
        <!-- learning part start-->
        <section class="learning_part pb-5 pt-5">
            <div class="container">
                <div class="row align-items-sm-center align-items-lg-stretch">
                    <div class="col-md-7 col-lg-7">

                        <div class="learning_img">
                            <h1 class="text-center" ></h1>
                            <img src="../resources/img/learning_img.png" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5 pt-3 px-4 shadow-sm mt-5">
                        <div class="learning_member_text mb-2">
                            <h5>Utils.do</h5>
                            <h2>Regístrate</h2>

                            <h:form id="registroForm">
                                <div class="form-group">
                                    <label for="name">Nombres:</label>
                                    <h:inputText validatorMessage="Ingrese un nombre válido" pt:placeholder="Nombres" id="name" styleClass="single-input-secondary" value="#{usuarioBean.usuario.nombres}" required="true" requiredMessage="Ingrese sus nombres">
                                        <f:validateRegex pattern="[A-Za-zÁÉÍÓÚñáéíóúÑ ]{1,}"></f:validateRegex>
                                    </h:inputText>
                                    <h:message for="name" style="color:red"></h:message>
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Apellidos:</label>
                                    <h:inputText validatorMessage="Ingrese un apellido válido" pt:placeholder="Apellidos" id="lastName" styleClass="single-input-secondary" value="#{usuarioBean.usuario.apellidos}" required="true" requiredMessage="Ingrese sus apellidos">
                                        <f:validateRegex pattern="[A-Za-zÁÉÍÓÚñáéíóúÑ ]{1,}"></f:validateRegex>
                                    </h:inputText>
                                    <h:message for="lastName" style="color:red"></h:message>
                                </div>
                                <div class="form-group">
                                    <label for="genero">Género:</label>
                                    <div class="form-select" id="default-select">
                                        <h:selectOneMenu  styleClass="single-input-secondary" id="genero" required="true" requiredMessage="Indique su género por favor" value="#{usuarioBean.usuario.sexo}">
                                            <f:selectItem itemValue="m" itemLabel="Masculino"/>
                                            <f:selectItem itemValue="f" itemLabel="Femenino"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fechaNacimiento">Fecha de nacimiento:</label>
                                    <div class="space-10"></div>
                                    <p:datePicker  id="fechaNacimiento" value="#{usuarioBean.usuario.fechaNacimiento}" required="true" requiredMessage="Seleccione su fecha de nacimiento" showIcon="true" maxdate="#{usuarioBean.fechaActual}" pattern="dd-MM-yyyy"/>
                                    <div class="space-10"></div>
                                    <h:message for="fechaNacimiento" style="color:red"></h:message>
                                </div>
                                <div class="form-group">
                                    <label for="email">Correo electrónico:</label>
                                    <h:inputText  validatorMessage="La dirección de correo electrónico no es válida" pt:placeholder="Correo electrónico" id="email" styleClass="single-input-secondary" value="#{usuarioBean.usuario.email}" required="true" requiredMessage="Ingrese su dirección de correo electrónico">
                                        <f:validateRegex pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$"></f:validateRegex>
                                    </h:inputText>
                                    <h:message for="email" style="color:red"></h:message>
                                </div>

                                <div class="form-group">
                                    <label for="password">Contraseña:</label>
                                    <h:inputSecret validatorMessage="La contraseña debe tener entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula. No puede tener otra clase de símbolos." pt:placeholder="Contraseña" id="password" styleClass="single-input-secondary" value="#{usuarioBean.usuario.password}" required="true" requiredMessage="Ingrese una contraseña para su cuenta">
                                        <f:validateRegex pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$"></f:validateRegex>
                                    </h:inputSecret>
                                    <h:message for="password" style="color:red"></h:message>
                                </div>

                                <h:commandButton styleClass="btn_1" value="Registrarme" action="#{usuarioBean.insertarUsuario()}">
                                    <f:ajax execute="@form" render="registroForm"/>
                                </h:commandButton>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </ui:define>

    <ui:define name='scripts'>
        <h:outputScript library="js" name="jquery.magnific-popup.js" />
        <h:outputScript library="js" name='jquery.nice-select.min.js'/>
        <h:outputScript>
            <c:if test="#{not empty flash.exito}" >
                alertify.success('#{flash.exito}');
            </c:if>
        </h:outputScript>
    </ui:define>
</ui:composition>
