<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="titulo">
        Nueva Categoría
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(1)}
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">| Nueva Categoría</h4>
                        </div>
                        <div class="card-body">
                            <h:form id="categoriaForm"> 
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <h:inputText styleClass="form-control" pt:placeholder="Nombre de categoría" value="#{categoriasBean.categoria.nombre}" required="true" requiredMessage="Ingrese un nombre para la categoría" id="nombreCategoria"/>
                                            <h:message for="nombreCategoria" errorStyle="color:red"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="space-10"></div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <h:commandButton value="Agregar" class="btn btn-info" action="#{categoriasBean.agregarCategoria()}"/>
                                    </div>
                                    <div class="space-width-30"></div>
                                    <div class="col-md-1">
                                        <h:link value="Cancelar" class="btn btn-primary" outcome="inicio"/>
                                    </div>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">
        scripts
    </ui:define>

</ui:composition>
