<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="titulo">
        Categorías productos
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(1)}
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">| Categorías existentes</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <h:form>
                                        <h:commandButton value="Nueva Categoría" action="#{categoriasBean.nuevaCategoria()}" class="btn btn-primary"/>
                                    </h:form>
                                </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h:form id="formListaCategorias">
                                        <p:dataTable var="c" value="#{categoriasBean.listaCategorias}" rows="10" widgetVar="tablaCategorias"
                                                     emptyMessage="No se encontraron resultados para su búsqueda" filteredValue="#{categoriasBean.listaFiltradaCategorias}"
                                                     paginator="true"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     rowsPerPageTemplate="5,10,15" styleClass="table table-bordered table-striped">
                                            <f:facet name="header">
                                                <div class="row">
                                                    <div class="col-md-3 center-all">
                                                        <h6>Buscar por categoría: </h6>
                                                    </div>
                                                    <div class="col-md-3 center-all">
                                                        <h:inputText id="globalFilter" onkeyup="PF('tablaCategorias').filter()" pt:placeholder="Ingrese nombre de categoría" class="form-control"/>
                                                    </div>
                                                </div>
                                            </f:facet>
                                            <p:column headerText="ID" filterBy="#{c.idCategoria}" filterMatchMode="contains" filterStyle="display:none;" styleClass="text-center">
                                                <h:outputText value="#{c.idCategoria}" />
                                            </p:column>

                                            <p:column headerText="Nombre" filterBy="#{c.nombre}" filterMatchMode="contains" filterStyle="display:none;" styleClass="text-center">
                                                <h:outputText value="#{c.nombre}" />
                                            </p:column>
                                            <p:column headerText="Operaciones">
                                                <div class="cajaPadre">
                                                    <div class="cajaHija flex-center-all">
                                                        <h:commandButton class="btn btn-warning" value="Editar" action="#{categoriasBean.obtenerCategoria(c.idCategoria)}"/>
                                                    </div>
                                                    <div class="cajaHija flex-center-all">
                                                        <h:commandButton class="btn btn-danger" value="Eliminar" action="#{categoriasBean.eliminarCategoria(c.idCategoria)}"
                                                                         onclick="if (!confirm('¿Realmente desea eliminar a ésta categoría?'))
                                                                                     return false">
                                                            <f:ajax execute="@form" render="formListaCategorias tablaCategorias"/>
                                                        </h:commandButton>    
                                                    </div>
                                                </div>
                                            </p:column>

                                        </p:dataTable>

                                    </h:form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">
        scripts
    </ui:define>

</ui:composition>
