.flex-center-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-all{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center; 
    padding:10px;
}

.center-left{
    width:100vw;
    height: 100vh;
    display:flex;
    justify-content: flex-start;
    align-items:center;
}

.space-10{
    height:10px;
}

.space-20{
    height:20px;
}

.space-width-30{
    width:30px;
}

.space-30{
    height:30px;
}

.space-50{
    height:50px;
}

.space-60{
    height:60px;
}

.oculto{
    visibility: hidden;
}

/*demo*/
.ui-dataview-list .ui-dataview-row {
    border-bottom: 1px solid #A8A8A8;
    padding: 25px 10px;
    /* with the exported variables from Nova and Luna Themes*/
}

.logo {
    width: 5%;
}
.detail {
    width: 85%;
    padding-left: 25px;
}

.imagen-producto{
    width:375px;
    margin: 0px;
    padding:0px;
}

.imagen-mi-producto{
    width:250px;
    margin: 0px;
    padding:0px;
}

span.bolder{
    color: #ff663b;
    font-size: 1.5em;
}

span.info{
    color: #ff663b;
    font-size: 1.1em;
}

span.bold{
    color: #ff663b;
    font-size: 1em;
}

.borde-bajo{
    width:100%;
    border-bottom: 2px dotted #eee;
    margin-top: 40px;
}

.detalle-imagen{
    width:100%;
    height:210px;
}

.linea{
    width:100%;
    border-bottom: 1px dotted #ccc;
    margin: 8px 0px;
}

.cajaPadre{
    width:100%;
    padding:0px;
    display: flex;
    margin:0px;
}

.cajaHija{
    width:50%;
    padding:0px;
    margin:0px;
}

.flex-center-all{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin:0px;
    padding:0px;
}

.flex-space-around{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: baseline;
    margin:0px;
    padding:0px;
}

.ui-widget-content.ui-datatable-empty-message td, div.ui-datagrid-content.ui-datagrid-content-empty.ui-widget-content{
    color:red;
}