<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="titulo">
        Historial de Búsqueda - Utils.do
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(3)}
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
        <div class="row">
          <div class="col-md-4">
            <div class="card  card-tasks">
              <div class="card-header ">
                <h5 class="card-category">Filtro de Historial</h5>
                <h4 class="card-title">Filtrar Historial por:</h4>
              </div>
              <div class="card-body ">
                <div class="table-full-width table-responsive">
                        <h:form id="nombreForm">
                            <h:outputLabel value="Nombre:" for="nombre" />
                            <h:inputText value="#{historialBean.historial.busqueda}">
                                <f:ajax listener="#{historialBean.listarporNombre()}" render="tablaHistorial" event="keydown"/>
                            </h:inputText>
                        </h:form>
                     <h:form id="fechaForm">
                          <div class="form-group">
                                    <label for="fechaNacimiento">Fecha de nacimiento:</label>
                                    <div class="space-10"></div>
                                    <p:datePicker  id="fechaNacimiento" value="#{usuarioBean.usuario.fechaNacimiento}" required="true" requiredMessage="Seleccione su fecha de nacimiento" showIcon="true" maxdate="#{usuarioBean.fechaActual}" pattern="dd-MM-yyyy"/>
                                    <div class="space-10"></div>
                                    <h:message for="fechaNacimiento" style="color:red"></h:message>
                                </div>
                            
                           
                        </h:form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="card-category">Historial de búsqueda</h5>
                <h4 class="card-title">Historial de búsqueda</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                             
                    <h:form prependId="false">
                            <h:dataTable class="table" value="#{historialBean.historialdelUsuario}" var="item" id="tablaHistorial">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText class=" text-primary" value="Búsqueda realizada"/>
                                    </f:facet>
                                    <h:outputText value="#{item.busqueda}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText class=" text-primary" value="Fecha y Hora"/>
                                    </f:facet>
                                   <h:outputText value="#{item.fechaHora}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                    </h:outputText>
                                </h:column>
                                
                                
                                 
                            </h:dataTable>
                        </h:form>

                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </ui:define>
    <ui:define name="scripts">
        <h:outputScript library="js" name="jquery.magnific-popup.js" />
        <h:outputScript library="js" name='jquery.nice-select.min.js'/>
    </ui:define>
</ui:composition>

