<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/dashboard-layout-base.xhtml">

    <ui:define name="titulo">
        Dashboard - inicio
    </ui:define>

    <ui:define name="Style">
        
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(3)}
          <!-- End Navbar -->
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                  <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Bienvenido #{loginBean.usuario.nombres}</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="">
                                Desde aquí puedes agregar, eliminar y modificar tus listas de utiles 
                            </h5>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">
        
    </ui:define>

</ui:composition>
