<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">
        Dashboard - mis listas
    </ui:define>

    <ui:define name="Style">
        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: left !important;
            }

            .ui-button-text-only .ui-button-text {
                padding: 0.3em 0.4em;
            }

            .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
                visibility: hidden;
            }

            .ui-filter-column .ui-column-customfilter .custom-filter {
                width: 100%;
                box-sizing: border-box;
            }

            .year-spinner input {
                width: 100%;
                box-sizing: border-box;
            }
        </style>
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.sesionRequerida()}
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="card  card-tasks">
                        <div class="card-header ">
                            <h5 class="card-category">Listas</h5>
                            <h4 class="card-title">Agregar nueva lista</h4>
                        </div>
                        <div class="card-body ">
                            <div class="table-full-width table-responsive">
                                <h:form>
                                    <div class="form-group">
                                        <h:inputText requiredMessage="No deje el campo vácio" pt:placeholder="Nombre de la lista" styleClass="form-control" id="nombre" value="#{listaBean.lista.nombre}" title="Nombre" required="true">

                                        </h:inputText>
                                        <h:message for="nombre" style="color:red"></h:message>
                                    </div>
                                    <h:commandButton rendered="#{(listaBean.lista.idLista == null)? true : false}"  styleClass="btn btn-primary" action="#{listaBean.insertarLista(loginBean.usuario.idUsuario)}" value="Agregar"></h:commandButton>
                                    <h:commandButton rendered="#{(listaBean.lista.idLista != null)? true : false}" styleClass="btn btn-info"  value="Modificar" action="#{listaBean.modificarLista()}"></h:commandButton>   
                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-category">Listas</h5>
                            <h4 class="card-title">Listas creadas</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <h:form prependId="false" >
                                    <p:dataTable var="lista" value="#{listaBean.getListaListas(loginBean.usuario.idUsuario)}" rows="10"
                                                 paginator="true"
                                                 emptyMessage="No se encontro ninguna lista"
                                                 paginatorPosition="bottom"
                                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 rowsPerPageTemplate="5,10,15">



                                        <p:column headerText="Nombre de la lista">
                                            <h:outputText value="#{lista.nombre}" />
                                        </p:column>

                                        <p:column headerText="Opción 1">
                                            <center><h:commandButton class="btn btn-primary" value="Ver detalles" type="button" onclick="PF('#{lista.nombre}').show();"/></center>
                                            <p:dialog showEffect="explode" width="700" height="200" header="Detalles de la lista: #{lista.nombre}" widgetVar="#{lista.nombre}" modal="true">
                                                
                                                <h:form>
                                                    <p:dataTable var="item" value="#{listaProductosBean.getListaProductos(lista.idLista)}" rows="10"
                                                                 paginator="true"
                                                                 emptyMessage="No se ha agregado productos"
                                                                 paginatorPosition="bottom"
                                                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                                 rowsPerPageTemplate="5,10,15">
                                                        <p:column headerText="Nombre del producto">
                                                            <h:outputText value="#{item.idProducto.nombre}" />
                                                        </p:column>
                                                         <p:column headerText="Marca">
                                                             <h:outputText value="#{item.idProducto.marca}" />
                                                        </p:column>
                                                        <p:column headerText="Cantidad">
                                                            <h:outputText value="#{item.cantidad}" />
                                                        </p:column>
                                                        <p:column headerText="Opción">
                                                            <center><h:commandButton value="Eliminar" styleClass="btn btn-danger" action="#{listaProductosBean.eliminarProducto(item.id)}"></h:commandButton></center>
                                                        </p:column>
                                                       

                                                    </p:dataTable>
                                                </h:form>
                                                <h:commandButton value="Imprimir" styleClass="btn btn-info" ></h:commandButton>

                                            </p:dialog>
                                        </p:column>






                                        <p:column headerText="Opción 2">
                                            <center><h:commandButton value="Modificar" styleClass="btn btn-info" action="#{listaBean.obtenerLista(lista.idLista)}" ></h:commandButton></center>
                                        </p:column>
                                        <p:column headerText="Opción 3">
                                            <center><h:commandButton value="Eliminar" styleClass="btn btn-danger" action="#{listaBean.eliminarLista(lista.idLista)}"></h:commandButton></center>
                                        </p:column>
                                    </p:dataTable>



                                </h:form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">
        <h:outputScript>         
            function confirma(){
            return alertify.dialog('confirm');
            }

        </h:outputScript>
    </ui:define>

</ui:composition>
