<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">
         Dashboard - utils.do
    </ui:define>

    <ui:define name="Style">
       
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(3)}
          <!-- End Navbar -->
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                  <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Modificar mis datos</h4>
                        </div>
                        <div class="card-body">
                                <h:form>
                                    <div class="form-group">
                                        <h:outputLabel value="Nombres:" for="nombres" />
                                        <h:inputText class="form-control" id="nombres" value="#{usuarioBean.usuario.nombres}" title="Nombres" required="true" requiredMessage="El campo nombre es requerido">
                                            <f:validateRegex pattern="[A-Za-zÁÉÍÓÚñáéíóúÑ ]{1,}"></f:validateRegex>
                                        </h:inputText>
                                        <h:message for="nombres" style="color:red"></h:message>
                                    </div>
                                     
                                    <div class="form-group">
                                        <h:outputLabel value="Apellidos:" for="apellidos" />
                                        <h:inputText class="form-control" id="apellidos" value="#{usuarioBean.usuario.apellidos}" title="Apellidos" required="true" requiredMessage="El campo apellido es requerido">
                                               <f:validateRegex pattern="[A-Za-zÁÉÍÓÚñáéíóúÑ ]{1,}"></f:validateRegex>
                                        </h:inputText>
                                        <h:message for="apellidos" style="color:red"></h:message>
                                    </div>
                                    
                                    <div class="form-group">
                                        <h:outputLabel value="Sexo:" for="sexo" />
                                        <div class="form-select" id="default-select">
                                        <h:selectOneMenu  styleClass="form-control" id="genero" required="true" requiredMessage="Indique su género por favor" value="#{usuarioBean.usuario.sexo}">
                                            <f:selectItem itemValue="m" itemLabel="Masculino"/>
                                            <f:selectItem itemValue="f" itemLabel="Femenino"/>
                                        </h:selectOneMenu>
                                    </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <h:outputLabel value="FechaNacimiento:" for="fechaNacimiento" />
                                        <div class="space-10"></div>
                                        <p:datePicker styleClass="form-control"  id="fechaNacimiento" value="#{usuarioBean.usuario.fechaNacimiento}" required="true" requiredMessage="Seleccione su fecha de nacimiento" showIcon="true" maxdate="#{usuarioBean.fechaActual}" pattern="dd-MM-yyyy"/>
                                        <div class="space-10"></div>
                                        <h:message for="fechaNacimiento" style="color:red"></h:message>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="email">Correo electrónico:</label>
                                        <h:inputText  validatorMessage="La dirección de correo electrónico no es válida" pt:placeholder="Correo electrónico" id="email" styleClass="form-control" value="#{usuarioBean.usuario.email}" required="true" requiredMessage="Ingrese su dirección de correo electrónico">
                                            <f:validateRegex pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$"></f:validateRegex>
                                        </h:inputText>
                                        <h:message for="email" style="color:red"></h:message>
                                    </div>
                                       
                                    <div class="form-group">
                                        <h:outputLabel value="Dui:" for="dui" />
                                        <h:inputText validatorMessage="El formato del DUI no es válido" required="true" requiredMessage="No deje el campo vacío" class="form-control" id="dui" value="#{usuarioBean.usuario.dui}" title="Dui">
                                            <f:validateRegex pattern="[0-9]{8}-[0-9]{1}"></f:validateRegex>
                                        </h:inputText>
                                        <h:message for="dui" style="color:red"></h:message>
                                    </div>
                                    
                                    <div class="form-group">
                                        <h:outputLabel value="Direccion:" for="direccion" />
                                        <h:inputText class="form-control" id="direccion" value="#{usuarioBean.usuario.direccion}" required="true" requiredMessage="No deje el campo vacío" title="Direccion" />
                                        <h:message for="direccion" style="color:red"></h:message>
                                    </div>
                                    
                                    <div class="form-group">
                                        <h:outputLabel value="Telefono:" for="telefono" />
                                        <h:inputText validatorMessage="El formato no es válido ####-####" class="form-control" id="telefono" value="#{usuarioBean.usuario.telefono}" title="Telefono" required="true" requiredMessage="El campo es requerido">
                                             <f:validateRegex pattern="^[7|2|6]{1}[0-9]{3}-[0-9]{4}"></f:validateRegex>
                                        </h:inputText>
                                         <h:message for="telefono" style="color:red"></h:message>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="password">Nueva contraseña:</label>
                                        <h:inputSecret validatorMessage="La contraseña debe tener entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula. No puede tener otra clase de símbolos." pt:placeholder="Contraseña" id="password" styleClass="form-control" value="#{usuarioBean.nuevaContra}" requiredMessage="Ingrese una contraseña para su cuenta">
                                            <!--<f:validateRegex pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$"></f:validateRegex>-->
                                        </h:inputSecret>
                                        <h:message for="password" style="color:red"></h:message>
                                    </div>
                                       
                                    <div class="form-group">
                                        <h:commandButton class="btn btn-info" action="#{usuarioBean.modificarUsuario()}" value="Modificar"></h:commandButton>
                                    </div>
                                    
                                </h:form>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">
      
    </ui:define>

</ui:composition>
