<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                 xmlns="http://www.w3.org/1999/xhtml"
                 template="./../WEB-INF/dashboard-layout-base.xhtml"
                 xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="titulo">
        Modificar - Utils.do
    </ui:define>

    <ui:define name="contenido">
          <!-- End Navbar -->
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                  <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Modificar librería</h4>
                        </div>
                        <div class="card-body">
                           
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">
        
    </ui:define>

</ui:composition>
