<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="titulo">
        Detalles de librería
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(2)}
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">| Información de mi librería</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="typography">
                                        <div class="">
                                            <ul class="unordered-list">
                                                <li><span class='bolder'>Nombre:</span> #{libreriasBean.libreria.nombre}</li>
                                                <div class='space-10'></div>
                                                <li><span class='bolder'>Departamento:</span> #{libreriasBean.libreria.departamento}</li>
                                                <div class='space-10'></div>
                                                <li><span class='bolder'>Municipio:</span> #{libreriasBean.libreria.municipio}</li>
                                                <div class='space-10'></div>
                                                <li><span class='bolder'>Dirección completa:</span> #{libreriasBean.libreria.direccion}</li>
                                                <div class='space-10'></div>
                                                <li><span class='bolder'>Teléfono:</span> #{libreriasBean.libreria.telefono}</li>
                                                <div class='space-10'></div>
                                                <li><span class='bolder'>Correo electrónico de contacto:</span>  #{libreriasBean.libreria.email}</li>
                                                <div class='space-10'></div>
                                                <li><span class='bolder'>Cantidad de productos registrados:</span>  #{libreriasBean.libreria.libreriaProductoEntityList.size()}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <h:link value="Regresar" outcome="inicio_dashboard" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
