<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="titulo">
        Usuarios - dashboard
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(1)}
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">| Librerías registradas</h4>
                        </div>
                        <div class="space-10"></div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <f:view>
                                    <h:form prependId="false">
                                        <p:dataTable var="item" value="#{libreriasBean.listaLibrerias}" rows="10" widgetVar="tablaLibrerias"
                                                     emptyMessage="No se encontraron resultados para su búsqueda" filteredValue="#{libreriasBean.listaFiltradaLibrerias}" paginator="true"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                                                     rowsPerPageTemplate="5,10,15" styleClass="table table-bordered table-striped">
                                            <f:facet name="header">
                                                <div class="row">
                                                    <div class="col-md-2 center-all">
                                                        <h6>Buscar librería: </h6>
                                                    </div>
                                                    <div class="col-md-4 center-all">
                                                        <h:inputText id="globalFilter" onkeyup="PF('tablaLibrerias').filter()" pt:placeholder="Ingrese información de una librería" class="form-control"/>
                                                    </div>
                                                </div>
                                            </f:facet>
                                            <p:column headerText="Nombre" filterBy="#{item.nombre}" filterMatchMode="contains" filterStyle="display:none;">
                                                <h:outputText value="#{item.nombre}"/>
                                            </p:column>
                                            <p:column headerText="Departamento" filterBy="#{item.departamento}" filterMatchMode="contains" filterStyle="display:none;">
                                                <h:outputText value="#{item.departamento}"/>
                                            </p:column>
                                            <p:column headerText="Municipio" filterBy="#{item.municipio}" filterMatchMode="contains" filterStyle="display:none;">
                                                <h:outputText value="#{item.municipio}"/>
                                            </p:column>
                                            <p:column headerText="Encargado" filterBy="#{item.administrador.apellidos}" filterMatchMode="contains" filterStyle="display:none;">
                                                <c:choose>
                                                    <c:when test='#{empty item.administrador.idUsuario}'>
                                                        Sin encargado
                                                    </c:when>
                                                    <c:otherwise>
                                                        #{item.administrador.nombres} #{item.administrador.apellidos}
                                                    </c:otherwise>
                                                </c:choose>
                                            </p:column>
                                            <p:column headerText="Modificar">
                                                <h:commandButton styleClass="btn btn-primary rounded" value="Modificar" action="#{libreriasBean.obtenerLibreria(item.idLibreria)}">

                                                </h:commandButton>
                                            </p:column>
                                            <p:column headerText="Eliminar">
                                                <h:commandButton styleClass="btn btn-danger rounded" value="Eliminar" action="#{libreriasBean.eliminarLibreria(item.idLibreria)}"></h:commandButton>
                                            </p:column>
                                        </p:dataTable>
                                    </h:form>
                                </f:view>
                            </div>
                        </div>
                    </div>
                </div> 

            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">

    </ui:define>

</ui:composition>
