<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="titulo">
        Detalles de solicitud
    </ui:define>

    <ui:define name="contenido">
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">| Detalles de solicitud</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <h5>Información de librería</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">            
                                    <p><span class='info'>Nombre de librería:</span> #{solicitudesBean.solicitud.libreria}</p>
                                    <p><span class='info'>Departamento:</span> #{solicitudesBean.solicitud.departamento}</p>
                                    <p><span class='info'>Municipio:</span> #{solicitudesBean.solicitud.municipio}</p>
                                    <p><span class='info'>Dirección completa:</span> #{solicitudesBean.solicitud.direccionLibreria}</p>
                                </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-md-10">
                                    <h5>Información del propietario</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">            
                                    <p><span class='info'>Nombre completo:</span> #{solicitudesBean.solicitud.nombres} #{solicitudesBean.solicitud.apellidos}</p>
                                    <p><span class='info'>N° DUI:</span> #{solicitudesBean.solicitud.dui}</p>
                                    <p><span class='info'>Dirección:</span> #{solicitudesBean.solicitud.direccion}</p>
                                    <p><span class='info'>N° teléfono:</span> #{solicitudesBean.solicitud.telefono}</p>
                                    <p><span class='info'>Correo electrónico:</span> #{solicitudesBean.solicitud.email}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <h:commandButton styleClass="btn btn-info" value="Aprobar" action="#{solicitudesBean.AceptarSolicitud(solicitudesBean.solicitud.idSolicitud)}"/>                                       
                                </div>
                                <div class="space-width-30"></div>
                                <div class="col-md-1">
                                    <h:commandButton styleClass="btn btn-danger" value="Rechazar" action="#{solicitudesBean.CancelarSolicitud(solicitudesBean.solicitud.idSolicitud, solicitudesBean.solicitud.email, solicitudesBean.solicitud.libreria, solicitudesBean.solicitud.nombres, solicitudesBean.solicitud.apellidos)}"/>
                                </div>
                            </div>
                            <div class="space-30"></div>
                            <div class="row">
                                <div class="col-md-2">
                                    <h:link value="Regresar" outcome="GestionarSolicitudes" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

</ui:composition>
