<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">
        Usuarios - dashboard
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(1)}
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">| Solicitudes de registro de librería</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <f:view>
                                    <h:form prependId="false">
                                        <p:dataTable class="table" value="#{solicitudesBean.listaSolicitudes}" var="item" paginator="true" 
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                                                     rowsPerPageTemplate="5,10,15" styleClass="table table-bordered table-striped">
                                            <p:column headerText="Nombre de librería">
                                                <h:outputText value="#{item.libreria}"/>
                                            </p:column>
                                            <p:column headerText="Departamento">
                                                <h:outputText value="#{item.departamento}"/>
                                            </p:column>
                                            <p:column headerText="Municipio">
                                                <h:outputText value="#{item.municipio}"/>
                                            </p:column>
                                            <p:column headerText="Solicitante">
                                                <h:outputText value="#{item.nombres} #{item.apellidos}"/>
                                            </p:column>
                                            <p:column headerText="Detalles">
                                                <h:commandButton styleClass="btn btn-info" value="Ver detalles" action="#{solicitudesBean.obtenerSolicitud(item.idSolicitud)}">
                                                </h:commandButton>
                                            </p:column>
                                        </p:dataTable>
                                    </h:form>
                                </f:view>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">

    </ui:define>

</ui:composition>


