<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="titulo">
        Nuevo Producto
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(2)}
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">| Nuevo Producto</h4>
                        </div>
                        <div class="card-body">
                            <div class="space-10"></div>
                            <h:form id="form" enctype="multipart/form-data" prependId="false">
                                <div class="form-group">
                                    <h:inputText pt:placeholder="Nombre de producto:" id="nombre" styleClass="form-control" value="#{productosBean.producto.nombre}" required="true" requiredMessage="Ingrese el nombre del producto"/>
                                    <h:message for="nombre" style="color:red"></h:message>
                                </div>
                                <div class="form-group">
                                    <h:inputText pt:placeholder="Marca:" id="marca" styleClass="form-control" value="#{productosBean.producto.marca}" required="true" requiredMessage="Especifique una marca para el producto"/>
                                    <h:message for="marca" style="color:red"></h:message>
                                </div>
                                <div class="form-group">
                                    <h:inputTextarea pt:placeholder="Descripción: " id="descripcion" styleClass="form-control" value="#{productosBean.producto.descripcion}" required="true" requiredMessage="Ingrese una descripción para el producto" />
                                    <h:message for="descripcion" style="color:red"></h:message>
                                </div>
                                <div class="form-group">
                                    <label>Categoría del producto:</label>
                                    <br />
                                    <h:selectOneMenu value="#{productosBean.producto.idCategoria.idCategoria}" class="nice-select">
                                        <f:selectItems value="#{categoriasBean.listaCategorias}" var="c" itemLabel="#{c.nombre}" itemValue="#{c.idCategoria}"/>
                                    </h:selectOneMenu>
                                </div>
                                <div class="form-group">
                                    <h:inputText pt:placeholder="Precio ($): " id="precio" styleClass="form-control" value="#{productosBean.libreriaProducto.precio}" validatorMessage="El precio del producto debe tener como valor mínimo $ 0.01" converterMessage="El precio del producto debe ser un dato numérico" required="true" requiredMessage="Ingrese el precio ($) del producto">
                                        <f:validateDoubleRange minimum="0.01"/>
                                    </h:inputText>
                                    <h:message for="precio" style="color:red"></h:message>
                                </div>
                                <div class="form-group">
                                    <label>Agregar archivo de imagen</label>
                                    <br />
                                    <p:fileUpload value="#{productosBean.archivo}" id="archivo-img" mode="simple" skinSimple="true" update="msg-img"/>
                                    <p:growl id="msg-img" showDetail="true" />
                                    <br />
                                    <label id="msgError" style="color:red;"></label>
                                </div>
                                <h:inputHidden value="#{productosBean.libreriaProducto.idLibreria.idLibreria}" id="idLibreria"/>
                                <h:inputHidden value="#{productosBean.numeroArchivos}" id="numeroArchivos"/>
                                <div class="space-10"></div>
                                <div class="row">
                                    <div class="col-md-1">
                                        <h:commandButton value="Agregar" class="btn btn-info"  action="#{productosBean.agregarProducto()}" id="upImage"/>
                                    </div>
                                    <div class="space-width-30"></div>
                                    <div class="col-md-1">
                                        <h:link value="Cancelar" class="btn btn-primary" outcome="inicio"/>
                                    </div>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">
        <h:outputScript library="js" name="oculto.js"/>
        <script type="text/javascript">
            //<![CDATA[
            agregarDato('idLibreria', '#{loginBean.usuario.libreriasEntity.idLibreria}');
            //]]>
        </script>
        <script type="text/javascript">
            //<![CDATA[
            var input = document.getElementById("archivo-img_input");
            input.setAttribute("onchange", "verificarArchivo(this);");
            if (input.files.length == 0) {
                document.getElementById('upImage').setAttribute("disabled", "disabled");
            }
            agregarDato('numeroArchivos', input.files.length);
            function verificarArchivo(obj) {
                var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                var numb = $(obj)[0].files[0].size / 1024 / 1024;
                numb = numb.toFixed(2);
                if ($(obj)[0].files.length == 0) {
                    document.getElementById('upImage').setAttribute("disabled", "disabled");
                    document.getElementById('msgError').textContent = "Seleccione un archivo de imagen para el producto";
                    agregarDato('numeroArchivos', $(obj)[0].files.length);
                } else if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                    document.getElementById('upImage').setAttribute("disabled", "disabled");
                    document.getElementById('msgError').textContent = "Únicamente puede adjuntar un archivo de imagen con los formatos (jpg, jpeg, png, gif)";
                    agregarDato('numeroArchivos', $(obj)[0].files.length);
                } else if (numb > 1) {
                    document.getElementById('upImage').setAttribute("disabled", "disabled");
                    document.getElementById('msgError').textContent = "El tamaño máximo del archivo de imagen es de 1 MB";
                    agregarDato('numeroArchivos', $(obj)[0].files.length);
                } else {
                    document.getElementById('upImage').removeAttribute("disabled");
                    document.getElementById('msgError').textContent = "";
                    agregarDato('numeroArchivos', $(obj)[0].files.length);
                }
            }
            //]]>
        </script>
    </ui:define>

</ui:composition>
