<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:define name="titulo">
        Detalles de producto
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(2)}
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">| Detalles de producto</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="space-60"></div>
                                    <div class="typography">
                                        <div class="">
                                            <ul class="unordered-list">
                                                <li><span class='bolder'>Producto:</span> #{productosBean.producto.nombre}</li>
                                                <div class='space-10'></div>
                                                <li><span class='bolder'>Categoría:</span> #{productosBean.producto.idCategoria.nombre}</li>
                                                <div class='space-10'></div>
                                                <li><span class='bolder'>Marca:</span> 
                                                    <c:choose>
                                                        <c:when test='#{productosBean.producto.marca == "-"}'>
                                                            Desconocida
                                                        </c:when>
                                                        <c:otherwise>
                                                            #{productosBean.producto.marca}
                                                        </c:otherwise>
                                                    </c:choose>   
                                                </li>
                                                <div class='space-10'></div>
                                                <li><span class='bolder'>Precio:</span> $ #{productosBean.libreriaProducto.precio}</li>
                                                <div class='space-10'></div>
                                                <li><span class='bolder'>Descripción:</span> #{productosBean.producto.descripcion}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8 center-all">
                                    <iframe id="contenedorIframe"
                                            title="Inline Frame Example"
                                            width="710"
                                            height="400"
                                            src="../search/_imagenProducto.xhtml" style="border:1px dotted #eee">
                                    </iframe>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <h:link value="Regresar" outcome="inicio" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>
    
</ui:composition>
