<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="titulo">
        Mis productos
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(2)}
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">| Mis productos</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <h:form>
                                        <h:commandButton value="Nuevo producto" class="btn btn-primary" action="#{productosBean.nuevoProducto()}"/>
                                    </h:form>
                                </div>
                            </div>    
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h:form id="formListaProductos" prependId="false">
                                        <p:dataTable value="#{productosBean.listarProductosPorAdministrador(loginBean.usuario)}" var="p" rows="10" widgetVar="tablaProductos"
                                                     emptyMessage="No se encontraron resultados para su búsqueda" filteredValue="#{productosBean.listaFiltradaMisProductos}"
                                                     paginator="true"
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     rowsPerPageTemplate="5,10,15" styleClass="table table-bordered table-striped">
                                            <f:facet name="header">
                                                <div class="row">
                                                    <div class="col-md-2 center-all">
                                                        <h6>Buscar producto: </h6>
                                                    </div>
                                                    <div class="col-md-4 center-all">
                                                        <h:inputText id="globalFilter" onkeyup="PF('tablaProductos').filter()" pt:placeholder="Ingrese información del producto" class="form-control"/>
                                                    </div>
                                                </div>
                                            </f:facet>
                                            <p:column headerText="Nombre" filterBy="#{p.idProducto.nombre}" filterMatchMode="contains" filterStyle="display:none;">
                                                <h:outputText value="#{p.idProducto.idProducto} #{p.idProducto.nombre}" />
                                            </p:column>
                                            <p:column headerText="Marca" filterBy="#{p.idProducto.marca}" filterMatchMode="contains" filterStyle="display:none;">
                                                <c:choose>
                                                    <c:when test="#{p.idProducto.marca == '-'}">
                                                        <h:outputText value="No especificada" />
                                                    </c:when>
                                                    <c:otherwise>
                                                        <h:outputText value="#{p.idProducto.marca}" />
                                                    </c:otherwise>
                                                </c:choose> 
                                            </p:column>
                                            <p:column headerText="Precio ($)" style="width:75px;">
                                                <h:outputText value="$ #{p.precio}" />
                                            </p:column>
                                            <p:column headerText="Categoría" filterBy="#{p.idProducto.idCategoria.nombre}" filterMatchMode="contains" filterStyle="display:none;">
                                                <h:outputText value="#{p.idProducto.idCategoria.nombre}" />
                                            </p:column>
                                            <p:column headerText="Operaciones">
                                                <div class="cajaPadre">
                                                    <div class="cajaHija flex-space-around">
                                                        <h:commandButton value="Detalles" class="btn btn-info btn-sm" action='#{productosBean.obtenerProductoCompleto(p.idProducto.idProducto, p.id, "detalles")}'/>
                                                        <div class="space-10"></div>
                                                        <h:commandButton class="btn btn-danger btn-sm" value="Eliminar" action="#{productosBean.eliminarProducto(p.idProducto.idProducto)}"
                                                                         onclick="if (!confirm('¿Desea eliminar este registro de producto de su librería?. Esta acción no puede ser reversible'))
                                                                                     return false">
                                                            <f:ajax execute="@form" render="formListaProductos tablaProductos"/>
                                                        </h:commandButton> 
                                                    </div>
                                                    <div class='cajaHija flex-center-all'>
                                                        <h:commandButton class="btn btn-warning btn-sm" value="Editar" action='#{productosBean.obtenerProductoCompleto(p.idProducto.idProducto, p.id, "editar")}'/>
                                                    </div>
                                                </div>
                                            </p:column>

                                        </p:dataTable>

                                    </h:form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">
        scripts
    </ui:define>

</ui:composition>
