<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">
        Dashboard - Utils.do
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(1)}
        <p:growl showDetail="true" globalOnly="true"/>
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Panel de Súper Administrador</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    Bienvenido #{loginBean.usuario.nombres} #{loginBean.usuario.apellidos}
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">

                        </div>
                        <div class="card-body">
                            <h:panelGrid class="" rendered="#{usuarioBean.pastelModel1 != null}">
                                <div>
                                    <p:chart type="pie" model="#{usuarioBean.pastelModel1}" style="width:445px; height:445px;"/>
                                </div> 
                            </h:panelGrid>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">

                        </div>
                        <div class="card-body">
                            <h:panelGrid class="" rendered="#{usuarioBean.pastelModel2 != null}">
                                <div>
                                    <p:chart type="pie" model="#{usuarioBean.pastelModel2}" style="width:445px; height:445px;"/>
                                </div> 
                            </h:panelGrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">

    </ui:define>

</ui:composition>
