<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./../WEB-INF/dashboard-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">
        Usuarios - dashboard
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.security(1)}
        <!-- End Navbar -->
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Lista de usuarios</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <f:view>
                                    <h:form prependId="false">
                                        <p:dataTable class="table" value="#{usuarioBean.listaUsuarios}" var="item" paginator="true" 
                                                     paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                                                     rowsPerPageTemplate="5,10,15" styleClass="table table-bordered table-striped">
                                            <p:column headerText="Nombres">
                                                <h:outputText value="#{item.nombres}"/>
                                            </p:column>
                                            <p:column headerText="Apellidos">
                                                <h:outputText value="#{item.apellidos}"/>
                                            </p:column>
                                            <p:column headerText="Email">
                                                <h:outputText value="#{item.email}"/>
                                            </p:column>
                                            <p:column headerText="Tipo usuario">
                                                <h:outputText value="#{item.tipoUsuario.nombre}"/>
                                            </p:column>
                                        </p:dataTable>
                                    </h:form>
                                </f:view>
                            </div>
                        </div>
                    </div>
                </div> 

            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">

    </ui:define>

</ui:composition>
