<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                 xmlns="http://www.w3.org/1999/xhtml"
                 template="./../WEB-INF/dashboard-layout-base.xhtml"
                 xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                 xmlns:h="http://xmlns.jcp.org/jsf/html"
                 xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="titulo">
        Modificar - Utils.do
    </ui:define>

    <ui:define name="contenido">
         #{loginBean.security(1)}
          <!-- End Navbar -->
        <div class="panel-header panel-header-sm"></div>
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                  <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Registrar administrador</h4>
                        </div>
                        <div class="card-body">
                            <h:form id="form">
                                <div class="form-group">
                                    <h:inputText validatorMessage="El nombre no es válido" pt:placeholder="Nombre" id="name" styleClass="form-control" value="#{usuarioBean.usuario.nombres}" >
                                         <f:validateRegex pattern="[A-Za-zÁÉÍÓÚñáéíóúÑ ]{1,}"></f:validateRegex>
                                    </h:inputText>
                                    <h:message for="name" style="color:red"></h:message>
                                </div>
                                <div class="form-group">
                                    <h:inputText validatorMessage="El apellido no es válido" pt:placeholder="Apellido" id="lastName" styleClass="form-control" value="#{usuarioBean.usuario.apellidos}">
                                         <f:validateRegex pattern="[A-Za-zÁÉÍÓÚñáéíóúÑ ]{1,}"></f:validateRegex>
                                    </h:inputText>
                                    <h:message for="lastName" style="color:red"></h:message>
                                </div>
                                <div class="form-group">
                                    <h:inputText  validatorMessage="El correo no es válido" pt:placeholder="Correo electrónico" id="email" styleClass="form-control" value="#{usuarioBean.usuario.email}">
                                        <f:validateRegex pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$"></f:validateRegex>
                                    </h:inputText>
                                    <h:message for="email" style="color:red"></h:message>
                                </div>
                                <h:commandButton styleClass="btn_1" value="Registrarme" class="btn btn-info"  action="#{usuarioBean.modificarUsuario()}">
                                    <f:ajax execute="@form" render="@form" />
                                </h:commandButton>
                            </h:form>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </ui:define>

    <ui:define name="scripts">
        
    </ui:define>

</ui:composition>
