<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Imagen Producto</title>
        <h:outputStylesheet library="css" name="multizoom.css"/>
        <h:outputStylesheet library="css" name="main.css"/>
    </h:head>
    <h:body style="overflow: hidden;">
        <div class="center-left">
            <p:graphicImage value="#{imagenBean.imagenProducto}" id="image1" class="imagen-producto">
                <f:param name="id" value="#{productosBean.producto.imagenesProductoEntity.idImagen}"/>
            </p:graphicImage> 
        </div>
        <h:outputScript library="js" name="jquery-1.12.1.min.js"/>
        <h:outputScript library="js" name="multizoom.js"/>
        <h:outputScript library="js" name="multizoom-image.js"/>
    </h:body>
</html>

