<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/landig-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="titulo">
        Comparador de productos entre distintas librerías
    </ui:define>

    <ui:define name="contenido">
        <section class="special_cource padding_top">
            <div class="container">
                <div class="row">
                    <h1>Comparador de precios</h1>
                </div>
                <div class="row">
                    <h4>Seleccione las librerías con las que desea comparar el precio del producto: #{productosBean.producto.nombre}</h4>
                </div>
                <div class="row">
                    <h:form prependId="false" id="comparadorForm">
                        <label for="selectLibrerias">Lista de librerías</label>
                        <br />
                        <p:selectCheckboxMenu id="selectLibrerias" value="#{productosBean.libreriasComparacion}" style="width:800px;" multiple="true" required="true" requiredMessage="Seleccione por lo menos una librería para efectuar la comparación."
                                              filter="true" filterMatchMode="startsWith" panelStyle="width:800px;">
                            <f:selectItems value="#{productosBean.listaPreciosProducto}" var="l" itemLabel="#{l.idLibreria.nombre}" itemValue="#{l.idLibreria.idLibreria}"/>
                        </p:selectCheckboxMenu>
                        <br />
                        <h:message for="selectLibrerias" errorStyle="color:red;"/>
                        <br /><br />
                        <h:commandButton value="Comparar" action="#{productosBean.comparacionPersonalizada()}">
                            <f:ajax execute="@form" render="comparadorForm comparacionPreciosForm tablaPrecios"/>
                        </h:commandButton>
                    </h:form>
                </div>
                <div class="space-30"></div>
                <div class="row">
                    <h:form id="comparacionPreciosForm">
                        <p:dataView var="p" value="#{productosBean.listaPersonalizada}" rows="12" paginator="true" rowsPerPageTemplate="12,16,20"
                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    id="tablaPrecios" rendered="#{productosBean.listaPersonalizada != null}">
                            <p:dataViewListItem>
                                <h:panelGrid columns="3" style="width:100%" columnClasses="logo,detail">
                                    <p:outputPanel>
                                        <h:panelGrid columns="2" cellpadding="5">
                                            <h:outputText value="Precio ($):" />
                                            <h:outputText value="$ #{p.precio}" style="font-weight: bold"/>
                                            <h:outputText value="Librería:" />
                                            <h:outputText value="#{p.idLibreria.nombre}" style="font-weight: bold"/>
                                            <h:outputText value="Departamento:" />
                                            <h:outputText value="#{p.idLibreria.departamento}" style="font-weight: bold"/>
                                            <h:outputText value="Municipio:" />
                                            <h:outputText value="#{p.idLibreria.municipio}" style="font-weight: bold"/>
                                            <h:commandButton action="#{libreriasBean.seleccionarLibreria(p.idLibreria.idLibreria)}" class="btn_4" value="Ver detalles de librería"/>
                                        </h:panelGrid>
                                    </p:outputPanel>

                                </h:panelGrid>
                            </p:dataViewListItem>
                        </p:dataView>

                    </h:form>
                </div>
            </div>
        </section>     
    </ui:define>

</ui:composition>
