<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/landig-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="titulo">
        Detalles de librería
    </ui:define>

    <ui:define name="contenido">
        <section class="blog_area section_padding">
            <div class="container">
                <div class="row align-items-sm-center align-items-lg-stretch">
                    <div class="col-md-7 col-lg-7">
                        <div class="learning_img">
                            <h:graphicImage library="img" name="learning_img.png"/>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <div class="learning_member_text">
                            <h3>Datos de librería:</h3>
                            <div class="space-10"></div>
                            <h4><h:outputText value="#{libreriasBean.libreria.nombre}"/></h4>
                            <div class="space-10"></div>
                            <h5>| Departamento:</h5> 
                            <p><h:outputText value="#{libreriasBean.libreria.departamento}"/></p>
                            <div class="space-10"></div>
                            <h5>| Municipio:</h5> 
                            <p><h:outputText value="#{libreriasBean.libreria.municipio}"/></p>
                            <div class="space-10"></div>
                            <h5>| Dirección: </h5>
                            <p><h:outputText value="#{libreriasBean.libreria.direccion}"/></p>
                            <div class="space-10"></div>
                            <h5>| Cantidad de productos que ofrece: </h5>
                            <p><h:outputText value="#{libreriasBean.libreria.libreriaProductoEntityList.size()}"/></p>
                        </div>
                    </div>
                </div>
                <div class="space-50"></div>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Conoce sus productos</h2>
                    </div>
                </div>
                <div class="space-30"></div>
                <div class="row">
                    <h:form prependId="false" id="listadoProductosForm" class="col-md-12">
                        <p:dataGrid var="p" value="#{productosBean.listarProductosPorLibreria(libreriasBean.libreria.idLibreria)}" columns="3" layout="grid"
                                    rows="9" paginator="true" emptyMessage="Esta librería aun no posee productos"
                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    rowsPerPageTemplate="9,12,15" 
                                    id="tablaProductos">

                            <p:panel style="margin:15px 0px;">
                                <h:panelGrid columns="1" style="width:100%;">
                                    <div class="col-md-4">
                                        <div class="single_special_cource">
                                            <p:graphicImage value="#{imagenBean.imagenProducto}" class="detalle-imagen">
                                                <f:param name="id" value="#{p.imagenesProductoEntity.idImagen}"/>
                                            </p:graphicImage>  
                                            <div class="special_cource_text">
                                                <div class="space-10"></div>
                                                <h:commandButton action="#{productosBean.obtenerProducto(p.idProducto)}" class="btn_4" value="Detalles"/>
                                                <div class="space-10"></div>
                                                <div class="typography">
                                                    <h5>#{p.nombre}</h5>
                                                    <h6><span class="bold">Categoría:</span> #{p.idCategoria.nombre}</h6>
                                                </div>
                                                <div class="linea"></div>
                                                <div>
                                                    <h6>Cantidad de precios encontrados: #{p.libreriaProductoEntityList.size()}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </h:panelGrid>
                            </p:panel>
                        </p:dataGrid>    
                    </h:form>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h:link value="Regresar" outcome="librerias" styleClass="genric-btn primary radius"/>
                    </div>
                </div>
            </div>
        </section> 
    </ui:define>

    <ui:define name="scripts">

    </ui:define>

</ui:composition>
