<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/landig-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="titulo">
        Detalles de producto
    </ui:define>

    <ui:define name="contenido">
        <section class="special_cource padding_top">
            <div class="container">
                <div class="row">
                    <div class="typography">
                        <h1>Detalles de producto</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="space-60"></div>
                        <div class="typography">
                            <div class="">
                                <ul class="unordered-list">
                                    <li><span class='bolder'>Producto:</span> #{productosBean.producto.nombre}</li>
                                    <div class='space-10'></div>
                                    <li><span class='bolder'>Categoría:</span> #{productosBean.producto.idCategoria.nombre}</li>
                                    <div class='space-10'></div>
                                    <li><span class='bolder'>Marca:</span> 
                                        <c:choose>
                                            <c:when test='#{productosBean.producto.marca == "-"}'>
                                                Desconocida
                                            </c:when>
                                            <c:otherwise>
                                                #{productosBean.producto.marca}
                                            </c:otherwise>
                                        </c:choose>   
                                    </li>
                                    <div class='space-10'></div>
                                    <li><span class='bolder'>Descripción:</span> 
                                        <c:choose>
                                            <c:when test='#{empty productosBean.producto.descripcion}'>
                                                El producto no posee una descripción
                                            </c:when>
                                            <c:otherwise>
                                                #{productosBean.producto.descripcion}
                                            </c:otherwise>
                                        </c:choose> 
                                    </li>
                                    <li>
                                        <h:form rendered="#{not empty loginBean.usuario.idUsuario}">
                                            <span class="bolder">Agregar a una lista</span>

                                            <div class="form-group">
                                                <h:outputLabel>Listas Disponibles</h:outputLabel>
                                                <h:selectOneMenu styleClass="single-input-secondary" value="#{listaProductosBean.codigoLista}">
                                                    <f:selectItems value="#{listaBean.getListaListas(loginBean.usuario.idUsuario)}" var="p" itemValue="#{p.idLista}" itemLabel="#{p.nombre}" />
                                                </h:selectOneMenu>
                                            </div>
                                            <h:commandButton styleClass="genric-btn success radius" action="#{listaProductosBean.insertarProducto(productosBean.producto.idProducto)}" value="Agregar" />
                                        </h:form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 center-all">
                        <iframe id="inlineFrameExample"
                                title="Inline Frame Example"
                                width="710"
                                height="400"
                                src="_imagenProducto.xhtml" style="border:1px dotted #eee">
                        </iframe>
                    </div>
                </div>
                <div class="space-30"></div>
                <div class="row typography">
                    <h3>Conoce sus diferentes precios</h3>
                </div>
                <div class="space-10"></div>
                <h:form prependId="false">
                    <p:repeat value="#{productosBean.listaPreciosMenores}" var="p" size="1">
                        <div class="row">
                            <p><span class="bolder">Precio menor:</span> $ #{p.precio}</p>
                        </div>
                        <div class="row">
                            <p><span class="bolder">Librería: </span> <h:commandLink action="#{libreriasBean.seleccionarLibreria(p.idLibreria.idLibreria)}" value="#{p.idLibreria.nombre}"/>
                                <c:if test="#{productosBean.listaPreciosMenores.size() > 1}">
                                    y #{productosBean.listaPreciosMenores.size() - 1} más.
                                </c:if>
                            </p>
                        </div>
                    </p:repeat>
                    <p:repeat value="#{productosBean.listaPreciosMayores}" var="p" size="1">
                        <div class="row">
                            <p><span class="bolder">Precio mayor:</span> $ #{p.precio}</p>
                        </div>
                        <div class="row">
                            <p>
                                <span class="bolder">Librería: </span> <h:commandLink action="#{libreriasBean.seleccionarLibreria(p.idLibreria.idLibreria)}" value="#{p.idLibreria.nombre}"/>
                                <c:if test="#{productosBean.listaPreciosMayores.size() > 1}">
                                    y #{productosBean.listaPreciosMayores.size() - 1} más.
                                </c:if>
                            </p>
                        </div>
                    </p:repeat>
                </h:form>
                <div class="section-top-border">
                    <div class="row typography">
                        <h4>Buscar por:</h4>
                    </div>
                    <h:form prependId="false" id="comparadorForm">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="single-element-widget mt-30">
                                    <h5 class="mb-20">Departamento:</h5>
                                    <div class="default-select" id="default-select">
                                        <h:selectOneMenu id="departamento" value="#{productosBean.libreriaProducto.idLibreria.departamento}" class="nice-select">
                                            <f:selectItem itemValue="-1" itemLabel="Todos" />
                                            <f:selectItems value="#{libreriasBean.listaDepartamentos}" var="l"/>
                                            <f:ajax event="change" listener="#{productosBean.listarPreciosProductoPorDepartamento()}" render="comparacionPreciosForm tablaPrecios selectLibrerias btnGrafico"/>
                                            <f:ajax event="change" listener="#{libreriasBean.setListaMunicipios(productosBean.libreriaProducto.idLibreria.departamento)}" render="selectMunicipios"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="single-element-widget mt-30">
                                    <h5 class="mb-20">Municipio:</h5>
                                    <div class="default-select" id="default-select">
                                        <h:selectOneMenu id="selectMunicipios" value="#{productosBean.libreriaProducto.idLibreria.municipio}" class="nice-select">
                                            <f:selectItem itemValue="-1" itemLabel="Todos" />
                                            <f:selectItems value="#{libreriasBean.listaMunicipios}" var="l"/>
                                            <f:ajax event="change" listener="#{productosBean.listarPreciosProductoPorMunicipio()}" render="comparacionPreciosForm tablaPrecios selectLibrerias btnGrafico"/>
                                        </h:selectOneMenu>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="single-element-widget mt-30">
                                    <h5 class="mb-20">Comparación personalizada:</h5>
                                    <div class="default-select" id="default-select">
                                        <p:selectCheckboxMenu id="selectLibrerias" value="#{productosBean.libreriasComparacion}" style="width:350px;" multiple="true" 
                                                              filter="true" filterMatchMode="startsWith" panelStyle="width:350px;">
                                            <f:selectItems value="#{productosBean.listaPreciosProducto}" var="l" itemLabel="#{l.idLibreria.nombre}" itemValue="#{l.idLibreria.idLibreria}"/>
                                        </p:selectCheckboxMenu>
                                        <br />
                                        <h:message for="selectLibrerias" errorStyle="color:red;" id="mensaje-error"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="single-element-widget mt-30">
                                    <div class="space-20"></div>
                                    <h:commandButton value="Comparar" action="#{productosBean.comparacionPersonalizada()}" class="genric-btn success radius">
                                        <f:ajax execute="@form" render="mensaje-error comparacionPreciosForm tablaPrecios"/>
                                    </h:commandButton>
                                </div>
                            </div>
                            <div class="space-width-30"></div>
                            <div class="col-md-2">
                                <div class="single-element-widget mt-30">
                                    <div class="space-20"></div>
                                    <h:commandButton value="Generar Gráfico" actionListener="#{productosBean.generarGraficoBarra()}" class="genric-btn primary radius" id="btnGrafico"/>
                                </div>
                            </div>
                        </div> 
                    </h:form>
                </div>
                <div class="row">
                    <h:form id="comparacionPreciosForm" class="col-md-12">
                        <p:dataView var="p" value="#{productosBean.listaPreciosProducto}" rows="10" paginator="true" rowsPerPageTemplate="10,15,20"
                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                    id="tablaPrecios">
                            <p:dataViewListItem>
                                <div class="row">
                                    <div class="col-md-2 center-all">
                                        <i class="pi pi-bookmark icon-details" style="font-size: 5.5em;"></i>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="unordered-list">
                                            <li><span class='bold'>Precio ($):</span> $ #{p.precio}</li>
                                            <div class='space-10'></div>
                                            <li><span class='bold'>Librería: </span> #{p.idLibreria.nombre}</li>
                                            <div class='space-10'></div>
                                            <li><span class='bold'>Departamento:</span> #{p.idLibreria.departamento}</li>
                                            <div class='space-10'></div>
                                            <li><span class='bold'>Municipio:</span> #{p.idLibreria.municipio}</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 center-all">
                                        <h:commandButton action="#{libreriasBean.seleccionarLibreria(p.idLibreria.idLibreria)}" class="genric-btn info circle" value="Detalles de librería"/>
                                    </div>
                                    <div class="borde-bajo"></div>
                                </div>
                            </p:dataViewListItem>
                        </p:dataView>
                    </h:form>
                </div>
            </div>
        </section>
    </ui:define>
    <ui:define name="scripts">

    </ui:define>
</ui:composition>
