<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/landig-layout-base.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="titulo">
        Graficador
    </ui:define>

    <ui:define name="contenido">
        #{loginBean.sesionRequerida()}
        
        <section class="advance_feature learning_part">
            <div class="container">
                <div class="row align-items-sm-center align-items-xl-stretch">
                    <div class="col-md-6 col-lg-6">
                        <h2>Generación de gráficos</h2>
                    </div>
                </div>
                <div class="space-30"></div>
                <div class="row">
                    <h5>El presente gráfico detalla las diferencias de precios que existen para el producto <b>#{productosBean.producto.nombre}</b> en las distintas librerías </h5>
                    <c:if test='#{productosBean.libreriaProducto.idLibreria.departamento == "-1" and productosBean.libreriaProducto.idLibreria.municipio == "-1"}'>
                        <h5>ubicadas en todo el país de El Salvador.</h5>
                    </c:if>
                    <c:if test='#{productosBean.libreriaProducto.idLibreria.departamento != "-1" and productosBean.libreriaProducto.idLibreria.municipio == "-1"}'>
                        <h5>ubicadas en el departamento de #{productosBean.libreriaProducto.idLibreria.departamento}.</h5>
                    </c:if>
                    <c:if test='#{productosBean.libreriaProducto.idLibreria.departamento != "-1" and productosBean.libreriaProducto.idLibreria.municipio != "-1"}'>
                        <h5>ubicadas en el municipio de #{productosBean.libreriaProducto.idLibreria.municipio} del departamento de #{productosBean.libreriaProducto.idLibreria.departamento}.</h5>
                    </c:if>
                    <h5></h5>
                </div>
                <div class="row">
                    <h:panelGrid id="contenedor-grafico-barras" class="center-all" rendered="#{productosBean.barra != null}">
                        <div>
                            <p:chart type="bar" model="#{productosBean.barra}" style="width:800px; height:600px;" widgetVar="graficoBarra"/>
                        </div> 
                        <div class="col-md-4">
                            <div class="mb-20"></div>
                            <h:button value="Exportar" class="genric-btn info small" onclick="return exportChartInPDF('graficoBarra', '#{productosBean.producto.nombre}', '#{productosBean.libreriaProducto.idLibreria.departamento}', '#{productosBean.libreriaProducto.idLibreria.municipio}');" rendered="#{productosBean.barra != null}"/>
                        </div>
                    </h:panelGrid>
                </div>
                <div class="space-30"></div>
                <div class="row">
                    <div class="col-md-4">
                        <h:link value="Regresar" outcome="productos" class="genric-btn primary radius"/>
                    </div>
                </div>
            </div>
        </section>
    </ui:define>

    <ui:define name="scripts">
        <h:outputScript library="js" name="pdfmake.min.js"/>
        <h:outputScript library="js" name="vfs_fonts.js"/>
        <h:outputScript library="js" name="export.js"/>
    </ui:define>
</ui:composition>
