<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../WEB-INF/landig-layout-base.xhtml"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                >

    <ui:define name="titulo">
        Buscar -Utils.do
    </ui:define>

    <ui:define name="contenido">
        <section class="special_cource padding_top">
            <div class="container">
                <h2>Buscar Librerías</h2>
                <hr/>
                <h4>Inicia la búsqueda de una librería</h4>
                <div class="space-10"></div>
                <h5>Buscar por:</h5>
                <h:form prependId="false">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="single-element-widget mt-30">
                                <h5 class="mb-20">Departamento:</h5>
                                <div class="default-select" id="default-select">
                                    <h:selectOneMenu id="departamento" value="#{libreriasBean.libreria.departamento}" class="nice-select">
                                        <f:selectItem itemValue="-1" itemLabel="Todos" />
                                        <f:selectItems value="#{libreriasBean.listaDepartamentos}" var="l"/>
                                        <f:ajax event="change" listener="#{libreriasBean.listarLibreriasPorDepartamento()}" render="tablaLibrerias"/>
                                        <f:ajax event="change" listener="#{libreriasBean.setListaMunicipios(libreriasBean.libreria.departamento)}" render="selectMunicipios"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="single-element-widget mt-30">
                                <h5 class="mb-20">Municipio:</h5>
                                <div class="default-select" id="default-select">
                                    <h:selectOneMenu id="selectMunicipios" value="#{libreriasBean.libreria.municipio}" class="nice-select">
                                        <f:selectItem itemValue="-1" itemLabel="Todos" />
                                        <f:selectItems value="#{libreriasBean.listaMunicipios}" var="l"/>
                                        <f:ajax event="change" listener="#{libreriasBean.listarLibreriasPorMunicipio()}" render="tablaLibrerias"/>
                                    </h:selectOneMenu>
                                </div>
                            </div>
                        </div>
                        <div class="space-width-30"></div>
                        <div class="col-md-4">
                            <div class="single-element-widget mt-30">
                                <h5 class="mb-20">Nombre de librería:</h5>
                                <h:inputText id="nombreLibreria" value="#{libreriasBean.libreria.nombre}" required="true" requiredMessage="Ingrese el nombre de la librería" class="single-input">
                                    <f:ajax listener="#{libreriasBean.listarLibreriasPorNombre()}" render="tablaLibrerias" event="keydown"/>
                                </h:inputText>
                            </div>
                        </div>
                    </div>
                </h:form>
            </div>
            <div class="space-30"></div>
            <div class="container">
                <h:form prependId="false">
                    <p:dataGrid var="l" value="#{libreriasBean.listaLibrerias}" columns="3" layout="grid"
                                rows="12" paginator="true" emptyMessage="No se encontraron resultados para su búsqueda"
                                paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                rowsPerPageTemplate="12,15,18" id="tablaLibrerias">

                        <p:panel style="margin:15px 0px;">
                            <h:panelGrid columns="1" style="width:100%;">
                                <div class="col-md-4">
                                    <div class="single_special_cource">
                                        <h:graphicImage class="especial_img" library="img" name="libreria.jpg"/>
                                        <div class="special_cource_text">
                                            <div class="space-10"></div>
                                            <h:commandButton action="#{libreriasBean.seleccionarLibreria(l.idLibreria)}" class="btn_4" value="Detalles"/>
                                            <div class="space-10"></div>
                                            <div class="typography">
                                                <h5>#{l.nombre}</h5>
                                                <h6><span class="bold">Departamento:</span> #{l.departamento}</h6>
                                                <h6><span class="bold">Municipio:</span> #{l.municipio}</h6>
                                            </div>
                                            <div class="linea"></div>
                                            <div>
                                                <h6>Cantidad de productos: #{l.libreriaProductoEntityList.size()}</h6>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </h:panelGrid>
                        </p:panel>
                    </p:dataGrid>    
                </h:form>
            </div>
        </section>

        <!--<div class="blog_right_sidebar">


            <aside class="single_sidebar_widget post_category_widget">
                <h4 class="widget_title">Categorias</h4>
                <ul class="list cat-list">
                    <li>
                        <a href="#" class="d-flex">
                            <p>Cartapacios Lisos, Separadores y Páginas</p>
                            <p> (?)</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex">
                            <p>Cuadernos cosidos</p>
                            <p> (?)</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex">
                            <p>Cuadernos de Espiral</p>
                            <p> (?)</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex">
                            <p>Cuadernos Engrapados</p>
                            <p> (?)</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex">
                            <p>Libretas y Cuadernillos</p>
                            <p> (?)</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="d-flex">
                            <p>Misceláneos </p>
                            <p> (?)</p>
                        </a>
                    </li>
                </ul>
            </aside>


        </div>-->


    </ui:define>

    <ui:define name="scripts">

    </ui:define>

</ui:composition>
