<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="../WEB-INF/landig-layout-base.xhtml"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:p="http://primefaces.org/ui"
                    
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="titulo">
        Libreria #{sondeosBean.sondeo.establecimiento} - Utils.do
    </ui:define>

    <ui:define name="Style">

    </ui:define>

    <ui:define name="contenido">
        
        <f:event type="preRenderView" listener="#{sondeosBean.validarLibreria()}" />
        
        <section class="blog_area section_padding">
            <div class="container">
                         <h2>#{sondeosBean.sondeo.establecimiento}</h2>
                         <hr/>
                         <c:forEach items="#{sondeosBean.listaSondeo}" var="item" end="0">
                             <p>Dirección: </p> ${item.direccion}
                             <p>Departamento:</p> ${item.departamento}
                             <p>Municipio</p> ${item.municipio}
                                     
                                        </c:forEach>
                         <hr/>
                        
                <div class="row">
                    
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                             <h4>Mostrando Productos:</h4>
                            
                             <h:form prependId="false" id="newForm">
                 <div class="row">               
 <c:forEach items="#{sondeosBean.listaSondeo}" var="item" >
     <div class="col-md-6">
         <p><b>Producto:</b>  #{item.producto}</p>
         <br/>
         <h:commandButton value="Ver Detalles " styleClass="btn_4 rounded" action="#{sondeosBean.seleccionarProducto(item.idSondeo)}"></h:commandButton>
                             <hr/>
     </div>
     </c:forEach>
                 </div>             
                            </h:form>
                             
                            <!--<h:form prependId="false">
                                <h:dataTable id="tablaSondeo" value="#{sondeosBean.listaSondeo}" var="item" >
                                   
                                    <h:column>
                                        <f:facet name="header">
                                            <h:outputText value="Producto"/>
                                        </f:facet>
                                        <h:outputText value="#{item.producto}"/>
                                    </h:column>
                                    
                                     
                                    <h:column>
                                        
                                                                               
                                        <h:commandButton value="Ver Detalles" styleClass="btn_4 rounded" action="#{sondeosBean.seleccionarProducto(item.idSondeo)}"></h:commandButton>
                                    </h:column>
                                    
                                </h:dataTable>

                            </h:form>-->







                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
<!--

                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Categorias</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Cartapacios Lisos, Separadores y Páginas</p>
                                            <p> (?)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Cuadernos cosidos</p>
                                            <p> (?)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Cuadernos de Espiral</p>
                                            <p> (?)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Cuadernos Engrapados</p>
                                            <p> (?)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Libretas y Cuadernillos</p>
                                            <p> (?)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Misceláneos </p>
                                            <p> (?)</p>
                                        </a>
                                    </li>
                                </ul>
                            </aside>-->


                        </div>
                    </div></div></div>
        </section>

    </ui:define>

    <ui:define name="scripts">
        
    </ui:define>

</ui:composition>
