<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/landig-layout-base.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns="http://www.w3.org/1999/xhtml">

    <ui:define name="titulo">
        Productos
    </ui:define>

    <ui:define name="contenido">
        <section class="special_cource padding_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="blog_right_sidebar">
                            <h:form prependId="false">
                                <aside class="single_sidebar_widget search_widget">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <h:inputText class="form-control" id="nombreProducto" value="#{productosBean.producto.nombre}" pt:placeholder="Busca un producto"/>
                                            <div class="input-group-append">
                                                <button class="btn" type="button"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <h:commandButton class="button rounded-0 primary-bg text-white w-100 btn_1" value="Buscar" action="#{productosBean.listarProductosPorNombre()}">
                                        <f:param name="idUsuario" id="idUsuario" value="#{loginBean.usuario.idUsuario}"/>
                                        <f:ajax execute="@form" render="tablaProductos"/>
                                    </h:commandButton>
                                </aside>
                                <aside class="single_sidebar_widget post_category_widget">
                                    <h4 class="widget_title">Categorías</h4>
                                    <div class="single-element-widget mt-30">
                                        <div class="default-select" id="default-select">
                                            <h:selectOneMenu value="#{productosBean.producto.idCategoria.idCategoria}" class="nice-select">
                                                <f:selectItem  itemValue="0" itemLabel="Todas"/>
                                                <f:selectItems value="#{categoriasBean.listaCategorias}" var="c" itemLabel="#{c.nombre}" itemValue="#{c.idCategoria}"/>
                                                <f:ajax event="change" listener="#{productosBean.listarProductosPorCategoria()}" render="listadoProductosForm tablaProductos"/>
                                            </h:selectOneMenu>
                                        </div>
                                    </div>
                                </aside>
                            </h:form>
                        </div>
                    </div>
                    <div class="col-lg-9 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            <article class="blog_item">
                                <h:form prependId="false" id="listadoProductosForm">
                                    <p:dataGrid var="p" value="#{productosBean.listaProductos}" columns="3" layout="grid"
                                                rows="9" paginator="true" emptyMessage="No se encontraron resultados para su búsqueda"
                                                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                rowsPerPageTemplate="9,12,15" 
                                                id="tablaProductos">

                                        <p:panel style="margin:15px 0px;">
                                            <h:panelGrid columns="1" style="width:100%;">
                                                <div class="col-md-4">
                                                    <div class="single_special_cource">
                                                        <p:graphicImage value="#{imagenBean.imagenProducto}" class="detalle-imagen">
                                                            <f:param name="id" value="#{p.imagenesProductoEntity.idImagen}"/>
                                                        </p:graphicImage>  
                                                        <div class="special_cource_text">
                                                            <div class="space-10"></div>
                                                            <h:commandButton action="#{productosBean.obtenerProducto(p.idProducto)}" class="btn_4" value="Detalles"/>
                                                            <div class="space-10"></div>
                                                            <div class="typography">
                                                                <h5>#{p.nombre}</h5>
                                                                <h6><span class="bold">Categoría:</span> #{p.idCategoria.nombre}</h6>
                                                            </div>
                                                            <div class="linea"></div>
                                                            <div>
                                                                <h6>Cantidad de precios encontrados: #{p.libreriaProductoEntityList.size()}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h:panelGrid>
                                        </p:panel>
                                    </p:dataGrid>    
                                </h:form>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
    </ui:define>

    <ui:define name="scripts">

    </ui:define>

</ui:composition>
