<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../WEB-INF/landig-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="titulo">
        Prueba
    </ui:define>

    <ui:define name="contenido">
        <section class="special_cource padding_top">
            <div class="container">
                <h:form enctype="multipart/form-data">
                    <p:growl id="messages" showDetail="true" />
                    <p:fileUpload value="#{imagenBean.archivo}" mode="simple" skinSimple="true"/>
                    <br /> <br />
                    <h:selectOneMenu value="#{imagenBean.imagen.idProducto.idProducto}">
                        <f:selectItems value="#{productosBean.listaProductosSinImagen}" var="p" itemLabel="#{p.nombre}" itemValue="#{p.idProducto}"/>
                    </h:selectOneMenu>
                    <br /> <br />
                    <p:commandButton value="Subir" ajax="false" action="#{imagenBean.subirImagen()}"/>
                </h:form>
            </div>
        </section>     
    </ui:define>
    
    <ui:define name="scripts">
        
    </ui:define>
</ui:composition>


