<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <div class="sidebar" data-color="orange">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
        -->
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                Utils.do | Menu
            </a>
        </div>
        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
                <!-- Links para los administradores -->
                <c:if test="#{loginBean.usuario.tipoUsuario.id == 1}">
                    <li class="active" >
                        <a href="#{request.contextPath}/faces/administrador/dashboard.xhtml">
                            <i class="now-ui-icons business_badge"></i>
                            <p>Inicio</p>
                        </a>
                    </li>
                    <li>
                        <a href="#{request.contextPath}/faces/administrador/listarUsuarios.xhtml">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Usuarios registrados</p>
                        </a>
                    </li>
                    <li>
                        <a href="#{request.contextPath}/faces/categorias/inicio.xhtml">
                            <i class="now-ui-icons shopping_tag-content"></i>
                            <p>Gestionar Categorías</p>
                        </a>
                    </li>
                    <!--                    <li>
                                            <a href="#{request.contextPath}/faces/dashboard/registrarAdmin.xhtml">
                                                <i class="now-ui-icons files_paper"></i>
                                                <p>Agregar administrador</p>
                                            </a>
                                        </li>-->
                    <li>
                        <a href="#{request.contextPath}/faces/search/productos.xhtml">
                            <i class="now-ui-icons ui-1_zoom-bold"></i>
                            <p>Buscar útiles</p>
                        </a>
                    </li>
                    <li>
                        <a href="#{request.contextPath}/faces/cliente/misListas.xhtml">
                            <i class="now-ui-icons design-2_ruler-pencil"></i>
                            <p>Mis listas de útiles</p>
                        </a>
                    </li>
                    <li>
                        <a href="#{request.contextPath}/faces/solicitudes/GestionarSolicitudes.xhtml">
                            <i class="now-ui-icons education_paper"></i>
                            <p>Solicitudes de registro</p>
                        </a>
                    </li>
                    <li>
                        <a href="#{request.contextPath}/faces/librerias/GestionarLibrerias.xhtml">
                            <i class="now-ui-icons files_paper"></i>
                            <p>Gestionar librerías</p>
                        </a>
                    </li>
                    <li>
                        <a href="#{request.contextPath}/faces/usuarios/historial.xhtml">
                            <i class="now-ui-icons business_badge"></i>
                            <p>Historial de Búsqueda</p>
                        </a>
                    </li>
                </c:if>

                <!-- Links para administradores de librería -->
                <c:if test="#{loginBean.usuario.tipoUsuario.id == 2}">
                    <li class="active" >
                        <a href="#{request.contextPath}/faces/administrador-libreria/dashboard.xhtml">
                            <i class="now-ui-icons business_badge"></i>
                            <p>Inicio</p>
                        </a>
                    </li>
                    <li>

                        <h:form class="center-all" style="border:0; margin:0;">
                            <h:commandLink action="#{libreriasBean.seleccionarLibreriaAdministrador(loginBean.usuario.libreriasEntity.idLibreria)}" style="margin-left:-63%; margin-top: 5px;">
                                <i class="now-ui-icons business_badge"></i>
                                <p style="color:#fff; font-size: .71em;">MI LIBRERÍA</p>
                            </h:commandLink>
                        </h:form>  

                    </li>
                    <li>
                        <a href="#{request.contextPath}/faces/productos/inicio.xhtml">
                            <i class="now-ui-icons business_badge"></i>
                            <p>Mis productos</p>
                        </a>
                    </li>
                    <li>
                        <a href="#{request.contextPath}/faces/search/productos.xhtml">
                            <i class="now-ui-icons business_badge"></i>
                            <p>Comparar precios</p>
                        </a>
                    </li>
                </c:if>

                <!-- Links para los usuarios -->
                <c:if test="#{loginBean.usuario.tipoUsuario.id == 3}">
                    <li class="active" >
                        <a href="#{request.contextPath}/faces/usuarios/dashboard.xhtml">
                            <i class="now-ui-icons business_badge"></i>
                            <p>Mis listas de productos</p>
                        </a>
                    </li>
                    <li>
                        <a href="#{request.contextPath}/faces/search/productos.xhtml">
                            <i class="now-ui-icons business_badge"></i>
                            <p>Buscar productos</p>
                        </a>
                    </li>
                    <li>
                        <a href="#{request.contextPath}/faces/usuarios/historial.xhtml">
                            <i class="now-ui-icons business_badge"></i>
                            <p>Historial de Búsqueda</p>
                        </a>
                    </li>
                    <li>
                        <h:form class="center-all" style="border:0; margin:0;">
                            <h:commandLink action="#{usuarioBean.obtenerUsuarioSesion(loginBean.usuario.idUsuario)}" style="margin-left:-48%; margin-top: 5px;">
                                <i class="now-ui-icons business_badge"></i>
                                <p style="color:#fff; font-size: .71em;">MODIFICAR PERFIL</p>
                            </h:commandLink>
                        </h:form>  
                    </li>
                </c:if>
                <li class="active-pro">
                    <center>
                        <h:form class="justify-content-center">
                            <h:commandButton styleClass="btn btn-outline-light" action="#{loginBean.logout()}" value="Cerrar sesión"></h:commandButton>
                        </h:form> 
                    </center>
                </li>
            </ul>
        </div>
    </div>
</html>

