<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <h1>Utils.do</h1>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                             id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="#{request.contextPath}/faces/index.xhtml">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#{request.contextPath}/faces/search/productos.xhtml">Buscar productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#{request.contextPath}/faces/search/librerias.xhtml">Librerías</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#{request.contextPath}/faces/solicitudLibreria.xhtml">Servicios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#{request.contextPath}/faces/faq.xhtml">Preguntas frecuentes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#{request.contextPath}/faces/acerca_de.xhtml">Acerca de</a>
                                </li>
                                <li class="d-none d-lg-block">
                                    <h:form prependId="false" rendered="#{!loginBean.verificarSesion()}">
                                    <h:link class="btn_1" outcome="iniciar_sesion" value="Iniciar Sesión"/>
                                    </h:form>
                                    <h:form prependId="false" rendered="#{loginBean.verificarSesion()}">
                                        <div class="dropdown show">
                                            
                                            <h:commandLink class="btn_1 dropdown-toggle" action="#{loginBean.mostrar_dashboard(loginBean.usuario.tipoUsuario.id)}" value="Mi Perfil" id="dropdownMenuLink"/>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <h:commandLink class="btn_1" action="#{loginBean.logout()}" value="Cerrar Sesión" />
                                            </div>
                                        </div>
                                    </h:form>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</html>
