<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<footer class="footer-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-6 col-md-4 col-xl-3">
                        <div class="single-footer-widget footer_1">
                            <h:link hreflang="index.xhtml"><h1>Utils.do</h1></h:link>
                            <p>Utils.do es tu mejor aliado para la comparativa de precios de útiles escolares no pierdas tu tiempo y dinero buscando productos, los puedes encontras fácil en nuestro sitio web</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-xl-4">
                        <div class="single-footer-widget footer_2">
                            <h4>¿Tienes dudas?</h4>
                            <p>Puedes consultar la sección de <a href="#{request.contextPath}/faces/faq.xhtml">Preguntas Frecuentes</a>
                                o ver la <a href="#{request.contextPath}/faces/politica_privacidad.xhtml">Política de Privacidad</a> de nuestro 
                                sitio web 
                            </p>

                            <div class="social_icon">
                                <a href="#"> <i class="ti-facebook"></i> </a>
                                <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                <a href="#"> <i class="ti-instagram"></i> </a>
                                <a href="#"> <i class="ti-skype"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 col-md-4">
                        <div class="single-footer-widget footer_2">
                            <h4>Contáctanos</h4>
                            <div class="contact_info">
                                <p><span> Telefono : </span>2222-2222</p>
                                <p><span> Correo   : </span>utils.do@gmail.com </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        Copyright &copy; <script>var fecha = new Date(); document.write(fecha.getFullYear());</script>. Todos los derechos reservados.
                    </div>
                </div>
            </div>
        </footer>
</html>

