<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./WEB-INF/landig-layout-base.xhtml"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="titulo">
        Acerca De | Utils.do 
    </ui:define>

        <ui:define name="contenido">
        
        <!-- banner part start-->
        <section class="banner_part">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-6">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h5>Busca, compara y crea tu lista</h5>
                                <h1>Acerca de </h1>
                                <p style="text-align: justify" >Utils.do Mis Útiles es la primera plataforma online 
                                    de información sobre útiles escolares para todo el país! Fácil, rápido y accesible de manera increíble... 
                                    Este sitio ha sido desarrollado por un equipo altamente capacitado y puede ser visualizado en todos 
                                    los exploradores de computadoras personales, tablets, smartphones y otros dispositivos móviles. 
                                    </p>
                                 <a href="#{request.contextPath}/faces/search/buscador.xhtml" class="btn_1">Buscar</a>
                                <a href="#{request.contextPath}/faces/usuarios/iniciar.xhtml" class="btn_2">Iniciar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner part start-->

       
        <!-- learning part start-->
        <section class="learning_part pt-5">
            <div class="container">
                <div class="row align-items-sm-center align-items-lg-stretch">
                    <div class="col-md-7 col-lg-7">
                        <div class="learning_img">
                            <img src="resources/img/learning_img.png" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <div class="learning_member_text">
                            <h5>¿Qué es Utils.do?</h5>
                            <h2>¿Qué es Utils.do?</h2>
                            <p>Utils.do es un sitio web que presenta precios de útiles escolares de las distintas tiendas distribuidoras de El Salvador que nace de la idea
                                de ayudar a las personas cuando es tiempo de comprar útiles y así reducir el costo que hacen tanto de tiempo como financiero.</p>
                            <ul>
                                <li><span class="ti-pencil-alt"></span>Utils.do te ayuda a consultar los datos de los útiles escolares que necesites en el momento </li>
                                <li><span class="ti-ruler-pencil"></span>Crear y exportar tus listas de compras para poder ir directamente a hacer tus compras o comparar precios entre productos.</li>
                            </ul>
                            <a href="#" class="btn_1">Deseo comenzar</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- learning part end-->
        
        
        
    </ui:define>

    <ui:define name="scripts">
        
    </ui:define>

</ui:composition>
