<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./WEB-INF/landig-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">
        Preguntas Frecuentes | Utils.do 
    </ui:define>

   <ui:define name="contenido">

        <!-- bannerfaq part start-->
        <section class="bannerfaq_part" style="height:100px;">
            <!-- <div class="container">
                 <div class="row align-items-center">
                     <div class="col-lg-6 col-xl-6">
                         <div class="banner_text">
                             <div class="banner_text_iner">
                                 <h5>Busca, compara y crea tu lista</h5>
                                 
 
                             </div>
                         </div>
                     </div>
                 </div>
             </div>-->
        </section>
        <!-- bannerfaq part start-->


        <!-- learning part start-->
        <section class="nothing">
            <div class="container">
                <h1>Preguntas Frecuentes</h1>
                <h5 style="text-align: justify" >
                    ¿Necesita ayuda con su búsqueda o tiene una pregunta 
                    que necesita respuesta pronto? <br/>Simplemente haga clic en una de las secciones
                    a continuación para encontrar la respuesta ...
                    <br/>
                    Si aún no puede encontrar una respuesta a su pregunta, 
                    comuníquese con nuestro servicio de atención al cliente llamando al 2222-2222 o 
                    envíenos un correo electrónico a utils.do@gmail.com </h5>
                <h:form>
                    <p:growl id='msgs' showDetail="true"/>
                    <p:accordionPanel multiple="true">
                        <p:tab title="¿De donde sacamos los datos que se muestran en nuestra plataforma?">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="/img/question.png"  width="100%"/>
                                <h:outputText escape="false" value="La mayoria de la información que muestra Utils.do con respecto a útiles escolares esta basada
                                              en sondeos de datos abiertos actualizados hasta el año 2019, para mayor información puede ingresar al siguiente
                                              enlace: &lt;a href='https://datos.gob.sv/dataset/sondeos-de-precios/resource/cf8b0f60-52c1-43c6-b26b-7262614baff0'&gt;Sondeo Útiles Escolares 2019&lt;/a&gt; . 
                                              &lt;br/&gt;
                                              Por otro lado también se tienen datos de librerias de terceros registradas en nuestra plataforma que han
                                              aceptado los términos de uso de nuestra plataforma, enviando su solicitud y que han sido aprobadas. &lt;br/&gt;
                                              Utils.do ofrece a través de la plataforma, cuadernos, cartapacios y otros productos de diferentes editoriales y fabricantes, 
                                              y no es responsable del contenido de los mismos, como tampoco es su responsabilidad controlar lo publicado por las diferentes librerias.
                                              &lt;br/&gt;
                                              Cualquier inconformidad que tenga el usuario sobre un producto en particular, deberá dirigirse directamente a la libreria que lo ha publicado 
                                              ó será el usuario quien deba dirigirse al fabricante, no es responsabilidad de la librería transmitir el mensaje.
                                              &lt;br/&gt;
                                              A su vez, la plataforma Utils.do no es responsable del contenido ni la publicación de los productos de otros productos relacionados a librerias de terceros, 
                                              los cuales sean ofrecidos ó promovidos a través de www.utils.do y que motiven ó despierten diferentes opiniones politícas ó sociales entre los usuarios.
                                              " />                                
                            </h:panelGrid>

                        </p:tab>
                        <p:tab title="¿Cómo funciona la búsqueda de productos?">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="/img/question.png"  width="100%"/>
                                <h:outputText escape="false" value="Utils.do le ofrece la posibilidad de localizar los productos en su base de datos mediante el motor de búsqueda ubicado en la sección buscar del menu principal la cual le
                                              redirige a esta &lt;a href='http://localhost:8080/utils.do/faces/search/productos.xhtml'&gt;página&lt;/a&gt; 
                                              &lt;br/&gt;
                                              Para realizar una búsqueda puede digitar el nombre del producto o seleccionar su categoría.
                                              Si requiere una atención más personalizada, contáctese por favor con nuestro equipo de Servicio al cliente en horario hábil de lunes a viernes." />                                
                            </h:panelGrid>

                        </p:tab>
                        <p:tab title="¿Cómo funciona el apartado de librerias?">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="/img/question.png"  width="100%"/>
                                <h:outputText escape="false" value="Utils.do le ofrece la posibilidad de localizar los productos en su base de datos de una libreria en especifico mediante el motor de búsqueda ubicado en la sección librerías del menu principal la cual le
                                              redirige a esta &lt;a href='http://localhost:8080/utils.do/faces/search/buscador.xhtml'&gt;página&lt;/a&gt; 
                                              &lt;br/&gt;
                                              Para una mejor búsqueda seleccione primero el departamento y si lo desea también el municipio o si es una libreria en específico escribir directamente el nombre de esa libreria.
                                              Si requiere una atención más personalizada, contáctese por favor con nuestro equipo de Servicio al cliente en horario hábil de lunes a viernes." />                                
                            </h:panelGrid>

                        </p:tab>
                        <p:tab title="¿Es necesario registrarse para poder hacer una búsqueda?">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="/img/question.png"  width="60%"/>
                                <h:outputText escape="false" value="No, no es necesario que un usuario se registre en nuestra plataforma para poder realizar una busqueda, al registrarse simplemente obtiene otros beneficios como:
                                              &lt;br/&gt;&lt;ol&gt;&lt;li&gt;
                                              Crear listas de compras de los útiles que hayas seleccionado para luego importarlos como PDF y así tenerlos en la palma de tu mano al realizar tus compras
                                              &lt;/li&gt;&lt;li&gt;
                                              Comparar el mismo producto en diferentes librerias y así ver el precio con el cual se mantienen o varian en ellas por medio de gráficos de barra.
                                              &lt;/li&gt;
                                              &lt;/li&gt;&lt;li&gt;
                                              Mantener el historial de búsquedas que has realizado a todos los dispositivos en los que accedas
                                              &lt;/li&gt;&lt;/ol&gt;
                                              " />                                
                            </h:panelGrid>

                        </p:tab>
                        <p:tab title="¿Qué pasa si olvido mi contraseña?">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="/img/question.png"  width="100%"/>
                                <h:outputText escape="false" value="Si has olvidado tu contraseña no pasa nada, Utils.do tiene un método en el cual te genera una contraseña aleatoria y la manda a tu correo
                                              para que puedas iniciar sesión nuevamente y ya dentro de tu cuenta puedes cambiar la contraseña aleatoria por una con la cual te sientas más conforme" />                                
                            </h:panelGrid>

                        </p:tab>
                        <p:tab title="¿Qué hacemos con tus datos?">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="/img/question.png"  width="100%"/>
                                <h:outputText escape="false" value="Los datos que ingresas al registrarte en nuestra plataforma no son más 
                                              que para cáracter informativo y no son utilizados sin tu consentimiento. Utils.do simplemente
                                              los utiliza como una forma para tener una idea de que usuarios son los más utilizan la plataforma y crear un total de cuantos distribuyendolos en una gráfica para poder mejorar el sistema poco a poco." />                                
                            </h:panelGrid>

                        </p:tab>
                        <p:tab title="Actualización de datos personales">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="/img/question.png"  width="100%"/>
                                <h:outputText escape="false" value="Texto sadasidxzczixkczxikxz¿Desea cambiar su nombre, dirección u otros datos en su perfil? No hay problema. De clic en el botón Iniciar Sesión, 
en la parte superior derecha, posteriormente busque la opción de Actualizar mis datos. Una vez los modifique de clic en Guardar.
&lt;br/&gt;
Si desea modificar el correo electrónico, es necesario que escriba a utils.do@gmail.com , para realizar el cambio desde nuestro sistema. 
De esta manera conservará su historial de busquedas anteriores y sus listas de compras creadas." />                                
                            </h:panelGrid>

                        </p:tab>
                        <p:tab title="¿Como puedo solicitar el registro de mi libreria?">
                            <h:panelGrid columns="2" cellpadding="10">
                                <p:graphicImage name="/img/question.png"  width="100%"/>
                                <h:outputText escape="false" value="Para solicitar el registro de su libreria debe ir a la opción Servicios en el menú parte superior de la plataforma o puede dar click 
                                              &lt;a href='http://localhost:8080/utils.do/faces/solicitudLibreria.xhtml'&gt;aquí&lt;/a&gt; 
                                              &lt;br/&gt;
                                              Registre los datos que se le indican y envie la solicitud a nuestras oficinas, donde verificaremos sus datos 
                                              y si todo está correcto podrá administrar su libreria dentro de nuestra plataforma de lo contrario se le contactará a través
                                              de un correo indicandole que no se ha podido aprobar su solicitud" />                                
                            </h:panelGrid>

                        </p:tab>
                        
                        

                    </p:accordionPanel>
                </h:form>
            </div>
        </section>
        <!-- learning part end-->


    </ui:define>

    <ui:define name="scripts">

    </ui:define>

</ui:composition>
