<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./WEB-INF/landig-layout-base.xhtml">

    <ui:define name="titulo">
        Inicio - Utils.do 
    </ui:define>

    <ui:define name="contenido">
        <!-- banner part start-->
        <section class="banner_part">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-6">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h5>Busca, compara y crea tu lista</h5>
                                <h1>Utils.do</h1>
                                <p style="text-align: justify" >Utils.do es un sitio web que presenta comparativas de precios de útiles escolares
                                    de las distintas tiendas distribuidoras de El Salvador.</p>
                                <a href="#{request.contextPath}/faces/search/buscador.xhtml" class="btn_1">Buscar</a>
                                <a href="#{request.contextPath}/faces/usuarios/iniciar.xhtml" class="btn_2">Iniciar sesión</a>
                                <div class="space-30"></div>
                                <h5>¿Por qué registrarse en nuestro sitio?</h5>
                                <p style="text-align: justify" >Al registrarse en nuestro sitio obtienes más beneficios como:<br/>
                                    <ol style="text-align: justify">
                                        <li style="text-align: justify">Crear listas de compras de los útiles que hayas seleccionado para luego importarlos como
                                             PDF y así tenerlos en la palma de tu mano al realizar tus compras 
                                        </li>
                                        <li style="text-align: justify">
                                            Comparar el mismo producto en diferentes librerias y así ver el precio con el cual se mantienen o 
                                            varian en ellas por medio de gráficos de barra.
                                        </li>
                                        <li style="text-align: justify">
                                            Mantener el historial de búsquedas que has realizado a todos los dispositivos en los que accedas
                                        </li>
                                    </ol>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner part start-->


        <!-- learning part start-->
        <section class="learning_part pt-5">
            <div class="container">
                <div class="row align-items-sm-center align-items-lg-stretch">
                    <div class="col-md-7 col-lg-7">
                        <div class="learning_img">
                            <img src="resources/img/learning_img.png" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <div class="learning_member_text">
                            <h5>Sobre nosotros</h5>
                            <h2>Utils.do</h2>
                            <p>Utils.do nace de la idea de ayudar a las personas a poder realizar sus compras de útiles
                            escolares de manera más rápida y efectiva inviertiendo lo menos posible para ello, ahorrando así 
                            esas molestas filas por esperar que te atiendan en las líbrerias y sucursales de mayoreo.</p>
                            <ul>
                                <li><span class="ti-pencil-alt"></span>Busca tú mismo esos útiles que tús hijos, tú o algún
                                familiar necesiten.</li>
                                <li><span class="ti-ruler-pencil"></span>Reduce tu tiempo al utilizar Utils.do, ¿por qué no empiezas ahora?.</li>
                            </ul>
                            <a href="#{request.contextPath}/faces/acerca_de.xhtml" class="btn_1">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- learning part end-->

        <!-- feature_part start-->
        <section class="feature_part pt-1 mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xl-3 align-self-center">
                        <div class="single_feature_text ">
                            <h2>¿Por qué es la mejor opción?</h2>
                            <p>Utils.do es tu mejor opción ya que reduce tu tiempo de búsqueda con sus filtros entre productos o líbrerias
                            y poder comparar entre varías líbrerias si así lo deseas teniendo una herramienta potente a la palma de tu mano.</p>
                            <a href="#" class="btn_1">Leer más</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <span class="single_feature_icon"><i class="ti-layers"></i></span>
                                <h4>Misión</h4>
                                <p>Somos una plataforma que ofrece información de calidad recolectada de los sondeos de
                                    datos abiertos ofreciendola a sus usuarios promoviendo así reducir los costos que realiza 
                                    cada persona al comprar útiles escolares.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="single_feature">
                            <div class="single_feature_part">
                                <span class="single_feature_icon"><i class="ti-new-window"></i></span>
                                <h4>Visión</h4>
                                <p>Ser una plataforma de prestigio a nivel nacional capaz de ayudar a las personas cuando
                                    hagan sus compras de útiles escolares reduciendo así los gastos que cada uno tiene llevando 
                                    información precisa y aprobada por los datos abiertos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="single_feature">
                            <div class="single_feature_part single_feature_part_2">
                                <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>
                                <h4>Valores</h4>
                                <p>•	Compromiso</p>
                                <p>•	Responsabilidad</p>
                                <p>•	Servicio</p>
                                <p>•	Innovación</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- upcoming_event part start-->



        <!-- learning part start-->
        <section class="advance_feature learning_part pb-5">
            <div class="container">
                <div class="row align-items-sm-center align-items-xl-stretch">
                    <div class="col-md-6 col-lg-6">
                        <div class="learning_member_text">
                            <h5>Utils.do</h5>
                            <h2>Características</h2>
                            <p>En el Sitio web de Utils.do hemos dado lo mejor para que tú te sientas a gusto con el 
                            sitio que será tu mejor compañero para realizar esas compras que tanto se necesitan para empezar
                            un nuevo año lectivo o simplemente reponer materiales educativos cuando los necesites. Entre las 
                            características de Utils.do podemos mencionar:</p>
                            <div class="row">
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <div class="learning_member_text_iner">
                                        <span class="ti-pencil-alt"></span>
                                        <h4>Busca tus productos</h4>
                                        <p>Los motores de búsqueda que hemos implementado estan optimizados para
                                        que puedas realizarlas de manera rápida y muy efectivas</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <div class="learning_member_text_iner">
                                        <span class="ti-stamp"></span>
                                        <h4>Crea listas de compras</h4>
                                        <p>Utils.do te permite crear listas de compras y luego exportarlas a PDF y que las puedas
                                        andar en tu dispositivo móvil.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="learning_img">
                            <img src="resources/img/advance_feature_img.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- learning part end-->
    </ui:define>

</ui:composition>
