<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./WEB-INF/landig-layout-base.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">
        Política de Privacidad | Utils.do 
    </ui:define>

    <ui:define name="contenido">

        <!-- bannerfaq part start-->
        <section class="bannerfaq_part" style="height:100px;">
            <!-- <div class="container">
                 <div class="row align-items-center">
                     <div class="col-lg-6 col-xl-6">
                         <div class="banner_text">
                             <div class="banner_text_iner">
                                 <h5>Busca, compara y crea tu lista</h5>
                                 
 
                             </div>
                         </div>
                     </div>
                 </div>
             </div>-->
        </section>
        <!-- bannerfaq part start-->


        <!-- learning part start-->
        <section class="nothing">
            <div class="container">
                <h1>Política de Privacidad</h1>
                <h5 style="text-align: justify" >
                    Utils.do respeta tu derecho a la privacidad.  Esta política resume la información de identificación personal que 
                    podemos obtener y la forma en que podemos usarla.  
                    Esta política también describe otros temas importantes relacionadas con tu privacidad </h5>
                <br/>
                <h2>Política global de privacidad en Internet de Utils.do</h2>

                <p>Utils.do respeta su derecho a la privacidad. Esta Política resume qué información de identificación personal 
                    y otro tipo de información podemos recopilar, de qué manera podemos utilizar esta información, y otros 
                    temas importantes relacionados con su privacidad y la protección de datos.<br/><br/>

                    Utils.do aplica la política de cumplir todas las leyes de privacidad y protección de datos que correspondan. 
                    Este compromiso refleja el valor que le damos al hecho de ganar y conservar la confianza de nuestros 
                    clientes, socios comerciales y demás personas que comparten su información personal con nosotros.<br/><br/>
                </p>

                <h2>Su consentimiento </h2>

                <p>Al utilizar el Sitio de Internet de Utils.do, usted acepta los términos de esta Política de Privacidad. 
                    Al enviar información a través de este sitio, usted da su consentimiento para la recopilación, el uso y 
                    la divulgación de dicha información, según se describe en esta Política y en las Declaraciones de Privacidad
                    vigentes del Sitio Web o del País.<br/><br/>
                </p>

                <h:form>
                    <p:growl id='msgs' showDetail="true"/>
                    <p:accordionPanel >
                        <p:tab title="Límites para la recopilación, uso y divulgación de información personal ">
                            <h:panelGrid columns="1" cellpadding="10">

                                <h:outputText escape="false" value="

                                              En la medida que así lo requieran las leyes vigentes, siempre que Utils.do recopile información personal en un Sitio de Internet de Utils.do, Utils.do:
                                              &lt;br/&gt;&lt;br/&gt;
                                              • le proporcionará un aviso oportuno y correcto sobre las prácticas de datos de Utils.do que no son más que para fines informátivos;
                                              &lt;br/&gt;&lt;br/&gt;
                                              • recopilará, usará, divulgará y transferirá su información personal solo con su consentimiento, que podrá ser explícito o implícito, según la sensibilidad de la información personal, los requisitos legales y otros factores;
                                              &lt;br/&gt;&lt;br/&gt;
                                              • recopilará su información personal solo para fines específicos y limitados. La información que recopilemos será pertinente, adecuada y no excesiva respecto de los fines para los que se la recopiló;
                                              &lt;br/&gt;&lt;br/&gt;
                                              • procesará su información personal de manera coherente con los propósitos para los cuales se recopiló originalmente o para los que usted otorgó posteriormente su consentimiento;
                                              &lt;br/&gt;&lt;br/&gt;
                                              • tomará medidas comercialmente razonables a fin de asegurar que la información personal sea fiable para el uso propuesto, exacta, completa y que, cuando sea necesario, se mantenga actualizada;
                                              &lt;br/&gt;&lt;br/&gt;
                                              • no utilizará su información personal para fines de comercialización directa sin brindarle la oportunidad de no participar (“opt-out”); y
                                              " />                                
                            </h:panelGrid>

                        </p:tab>

                        <p:tab title=" Información recopilada en Sitios de Internet de Utils.do y cómo puede ser utilizada  ">
                            <h:panelGrid columns="1" cellpadding="10">

                                <h:outputText escape="false" value="
                                              • Información recogida automáticamente:
                                              &lt;br/&gt;&lt;br/&gt;
                                              Utils.do recopila la información que su explorador web nos envía automáticamente. Esta información generalmente incluye la dirección IP de su proveedor de servicios de Internet, el nombre de su sistema operativo (por ejemplo, Macintosh® o Windows®) y el nombre y la versión de su explorador (por ejemplo, Internet Explorer® o Safari®). La información que recibamos depende de la configuración de su explorador web. Compruebe su explorador si desea saber qué información envía o cómo puede cambiar la configuración.
                                              &lt;br/&gt;
                                              Utilizamos esta información para que nos ayude a mejorar nuestros sitios y hacerlos más compatibles con la tecnología que utilizan nuestros visitantes de Internet.
                                              &lt;br/&gt;&lt;br/&gt;
                                              • Cookies y tecnologías similares:
                                              &lt;br/&gt;&lt;br/&gt;
                                              Una “cookie” es un pequeño archivo de datos que se instala en su equipo cuando visita un sitio web. 
                                              Las cookies y tecnologías similares pueden mejorar su experiencia de usuario al guardar sus preferencias,
                                              personalizar su experiencia en línea, almacenar artículos en su carrito de compras y, en algunas ocasiones, 
                                              proporcionarle anuncios publicitarios adaptados a sus intereses.
                                              &lt;br/&gt;
                                              El Sitio de Internet de Utils.do usa “cookies de sesión”. Una cookie de sesión no le identifica de forma individual y caduca
                                              cuando se cierra el explorador. 
                                              Por ejemplo, al utilizar el catálogo de productos de Utils.do, se instala una cookie de sesión para guardar las páginas que ha 
                                              visitado. Podemos utilizar esta información para proporcionarle recomendaciones de otros productos que puedan interesarle.
                                              &lt;br/&gt;&lt;br/&gt;
                                              • Uso de la configuración “No seguir” del explorador
                                              &lt;br/&gt;&lt;br/&gt;
                                              Los Sitios de Internet de Utils.do son compatibles con la función “No seguir” del explorador. 
                                              “No seguir” es una configuración del explorador que proporciona una elección única, simple y persistente para no
                                              participar del seguimiento de terceros en la web. Si su explorador web tiene habilitada la configuración “No seguir”,
                                              las cookies de publicidad no se establecerán en las propiedades web de Utils.do.
                                              &lt;br/&gt;&lt;br/&gt;
                                              • Configuración de cookies en su ordenador
                                              &lt;br/&gt;&lt;br/&gt;
                                              Si bien no tiene la obligación de aceptar cookies cuando visite el Sitio de Internet de Utils.do, 
                                              es posible que no pueda utilizar todas las funciones del sitio si rechaza determinadas cookies.
                                              &lt;br/&gt;
                                              Además, su explorador puede permitirle ajustar la configuración para aceptar o rechazar cookies, 
                                              o enviarle alertas cuando una cookie se instale en su ordenador. 
                                              " />                                
                            </h:panelGrid>

                        </p:tab>

 <p:tab title=" Uso y divulgación de su información">
                            <h:panelGrid columns="1" cellpadding="10">

                                <h:outputText escape="false" value="
                                              

Utils.do no venderá la información personal recopilada de sus Sitios de Internet a agentes de listas de correo sin su consentimiento explícito. 
&lt;br/&gt;&lt;br/&gt;
Utils.do no divulgará la información personal acerca de los visitantes de nuestro Sitio de Internet, excepto los casos que se describen a continuación:
&lt;br/&gt;&lt;br/&gt;
• Salvo que se indique específicamente, podemos utilizar la información recopilada en los sitios de Internet de Utils.do para mejorar el contenido de nuestro sitio, personalizar el sitio de acuerdo con sus preferencias, comunicarle información (si la solicitó) con fines de comercialización e investigación, y para cualquier otro fin especificado en un sitio web.
&lt;br/&gt;&lt;br/&gt;
• Utils.do puede divulgar su información personal a otras unidades comerciales de Utils.do. Al hacerlo, esas otras unidades comerciales de Utils.do utilizarán su información de una manera que sea coherente con los objetivos para los cuales se recopiló originalmente (o para los cuales usted otorgue su consentimiento posteriormente).
&lt;br/&gt;&lt;br/&gt;
• Utils.do también puede compartir su información personal con terceros que contratemos para que nos presten servicios de apoyo. Dichos terceros tienen la obligación de utilizar la información personal que hayamos compartido solo para prestar servicios en nuestro nombre y tratar su información personal de manera estrictamente confidencial, conforme a todas las leyes de protección de datos y privacidad vigentes.
&lt;br/&gt;&lt;br/&gt;
• En algunos casos, Utils.do puede compartir su información personal con terceros que estén asociados con nosotros para proporcionar productos y servicios a nuestros clientes, por ejemplo, distribuidores. Si es así, les exigiremos a nuestros socios comerciales que utilicen dicha información de manera coherente con los fines para los cuales se recopiló originalmente (o para los que usted otorgue su consentimiento posteriormente), y solo en la medida en que lo permita esta Política, las Declaraciones de Privacidad vigentes del Sitio Web o del País, y todas las leyes de protección de datos y privacidad vigentes.
&lt;br/&gt;&lt;br/&gt;
• En ciertas circunstancias limitadas, podemos compartir o transferir información personal a terceros que no estén relacionados. Por ejemplo, podemos proporcionar la información personal a un tercero: (i) si usted lo solicita, (ii) para cumplir con un requisito legal o de un tribunal, (iii) para investigar un posible delito, como el robo de identidad, (iv) si está relacionado con la venta, la compra, la fusión, la reorganización, la liquidación o la disolución de Utils.do o de una unidad comercial de Utils.do, o (v) en circunstancias similares. Si ocurre alguno de estos eventos, tomaremos las medidas correspondientes para proteger su información personal.

                                              " />                                
                            </h:panelGrid>

                        </p:tab>
<p:tab title=" Seguridad de su información personal ">
                            <h:panelGrid columns="1" cellpadding="10">

                                <h:outputText escape="false" value="
                                              

Su información personal se almacenará en las bases de datos de Utils.do o en las bases de datos que mantengan nuestros proveedores de servicios. La mayoría de estas bases de datos se almacenan en servidores ubicados en los Estados Unidos.
&lt;br/&gt;
Utils.do mantiene medidas preventivas razonables para proteger la seguridad, confidencialidad e integridad de su información personal. Por ejemplo, utilizamos una tecnología segura para transferir la información personal en Internet.
&lt;br/&gt;
Limitamos el acceso a la información personal a aquellos que tengan una necesidad comercial.
&lt;br/&gt;
Si bien utilizamos medidas de seguridad para ayudar a proteger su información personal contra divulgaciones no autorizadas,
uso indebido o alteración, tenga en cuenta que ninguna transmisión de Internet es completamente segura o libre de errores. 
Utils.do no será responsable de las violaciones a la seguridad que estén fuera de nuestro control en una medida razonable.

                                              
                                              " />                                
                            </h:panelGrid>

                        </p:tab>
                        
                        <p:tab title="Enlaces a Sitios de Internet de Terceros">
                            <h:panelGrid columns="1" cellpadding="10">

                                <h:outputText escape="false" value="
El Sitio de Internet de Utils.do pueden contener vínculos a sitios de Internet que no son administrados por Utils.do. Estos 
vínculos se proporcionan como un servicio y no implican ningún tipo de aprobación de las actividades o del contenido de 
estos sitios, ni la asociación con sus operadores. &lt;br/&gt;
Le instamos a que revise la política de privacidad publicada en los sitios web que visite antes de utilizar el sitio o de proporcionar información personal.                                              
                                              " />                                
                            </h:panelGrid>

                        </p:tab>
                        
                        

                    </p:accordionPanel>
                </h:form>

                <h2>Cambios en esta Política y nuestras Declaraciones de Privacidad  </h2>

                <p>Los cambios que se realicen en esta Política de Privacidad se publicarán en este sitio. Utils.do se reserva el derecho de actualizar o modificar esta Política y las Declaraciones de Privacidad de Sitio Web en cualquier momento y sin previo aviso. 
                    Las modificaciones se aplicarán solo a la información personal que recopilemos después de esta publicación.<br/><br/>
                    
                    Esta Política de Privacidad fue revisada por última vez el 16 de julio de 2019.
                </p>

                
            </div>
        </section>
        <!-- learning part end-->


    </ui:define>

    <ui:define name="scripts">

    </ui:define>

</ui:composition>
