<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                template="./WEB-INF/landig-layout-base.xhtml"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="titulo">
        Servicios | Utils.do 
    </ui:define>

        <ui:define name="contenido">
        
        <!-- banner part start-->
        <section class="banner_part">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-xl-6">
                        <div class="banner_text">
                            <div class="banner_text_iner">
                                <h5>Busca, compara y crea tu lista</h5>
                                <h1>Servicios de Utils.do</h1>
                                <p style="text-align: justify" >Utils.do es un sitio web que presenta comparativas de precios de útiles escolares
                                    de las distintas tiendas distribuidoras de El Salvador.</p>
                                 <a href="#{request.contextPath}/faces/search/buscador.xhtml" class="btn_1">Buscar</a>
                                <a href="#{request.contextPath}/faces/usuarios/iniciar.xhtml" class="btn_2">Iniciar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- banner part start-->

       
        <!-- learning part start-->
        <section class="learning_part pt-5">
            <div class="container">
                <div class="row align-items-sm-center align-items-lg-stretch">
                    <div class="col-md-7 col-lg-7">
                        <div class="learning_img">
                            <img src="resources/img/learning_img.png" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5">
                        <div class="learning_member_text">
                            <h5>Servicios Utils.do</h5>
                            <h2>Para Consumidores</h2>
                            <p>Ofrecemos los datos más actualizados con respecto a útiles escoláres del presente año dando posiblidad así a que 
                                cada cliente pueda buscar los mejores productos para él/ella.</p>
                            <ul>
                                <li><span class="ti-pencil-alt"></span>Consulta los datos de los útiles escolares que necesites en el momento </li>
                                <li><span class="ti-ruler-pencil"></span>Crea y exporta tus listas de compras para poder ir directamente a ello o compara precios entre productos.</li>
                            </ul>
                            <a href="#" class="btn_1">Deseo comenzar</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- learning part end-->
        
                     

        <!-- learning part start-->
        <section class="advance_feature learning_part pb-5">
            <div class="container">
                <div class="row align-items-sm-center align-items-xl-stretch">
                    <div class="col-md-6 col-lg-6">
                        <div class="learning_member_text">
                            <h5>Servicios Utils.do</h5>
                            <h2>Para Vendedores</h2>
                            <p>Ofrecemos una plataforma donde pueden publicar los precios de sus productos y así mejorar
                            la calidad del servicio que ofrecen a sus clientes, creando una mejor forma de atención para
                            que informen a sus clientes de sus productos.</p>
                            <div class="row">
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <div class="learning_member_text_iner">
                                        <span class="ti-pencil-alt"></span>
                                        <h4>Gestiona tu librería de mejor manera</h4>
                                        <p>Registra o edita los datos de los productos que tienes en venta a tus clientes.</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <div class="learning_member_text_iner">
                                        <span class="ti-stamp"></span>
                                        <h4>Mejora tu calidad de ventas</h4>
                                        <p>Mejora la atención que le das a tus clientes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="learning_img">
                            <img src="resources/img/advance_feature_img.png" alt=""/>
                        </div>
                    </div>
                </div>
                
                <!--Contact form-->
                <br/>
                 <h:form class="form-contact contact_form"  id="solicitar" >
                <div class="row" >
        <div class="col-12">
          <h2 class="contact-title">Solicitar registro</h2>
        </div>
        <div class="col-lg-6">
         
            <div class="row">
                 <h2 class="contact-title">Datos Personales:</h2>
              <div class="col-12" >
                <div class="form-group">
                    <label></label>
                    <!--Vacio-->
                </div>
              </div>
                 <div class="col-6">
                <div class="form-group">
                    <label>Nombre:</label>
                    <!--<textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder = 'Enter Message'></textarea>-->
                      <h:inputText validatorMessage="El nombre no es válido" pt:placeholder="Ingrese su Nombre" id="name" styleClass="single-input-secondary" value="#{solicitudesBean.solicitud.nombres}" >
                                         <f:validateRegex pattern="[A-Za-zÁÉÍÓÚñáéíóúÑ ]{1,}"></f:validateRegex>
                                    </h:inputText>
                                    <h:message for="name" style="color:red"></h:message>
                                         
                </div>
              </div>
                 <div class="col-6">
                <div class="form-group">
                    <label>Apellido:</label>
                    <!--<textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder = 'Enter Message'></textarea>-->
                    <h:inputText validatorMessage="El Apellido no es válido" pt:placeholder="Ingrese su Apellido" id="apellido" styleClass="single-input-secondary" value="#{solicitudesBean.solicitud.apellidos}" >
                                         <f:validateRegex pattern="[A-Za-zÁÉÍÓÚñáéíóúÑ ]{1,}"></f:validateRegex>
                                    </h:inputText>
                                    <h:message for="apellido" style="color:red"></h:message>
                </div>
              </div>
              <div class="col-sm-6">
                  <label>DUI:</label>
                <div class="form-group">
                    <h:inputText id="dui" pt:placeholder="12345678-9" styleClass="single-input-secondary" value="#{solicitudesBean.solicitud.dui}">
                        
                    </h:inputText>
                    <h:message for="dui" style="color:red"></h:message>
                </div>
              </div>
              <div class="col-sm-6">
                  <label>Teléfono:</label>
                <div class="form-group">
                    <h:inputText id="telefono" pt:placeholder="2222-2222" styleClass="single-input-secondary" value="#{solicitudesBean.solicitud.telefono}">
                        
                    </h:inputText>
                    <h:message for="telefono" style="color:red"></h:message>
                </div>
              </div>
                 <div class="col-sm-6">
                  <label>Email:</label>
                <div class="form-group">
                   <h:inputText  validatorMessage="El correo no es válido" pt:placeholder="Correo electrónico" id="email" styleClass="single-input-secondary" value="#{solicitudesBean.solicitud.email}">
                                        <f:validateRegex pattern="^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$"></f:validateRegex>
                                    </h:inputText>
                                    <h:message for="email" style="color:red"></h:message>
                </div>
              </div>
                 <div class="col-sm-6">
                 
                <div class="form-group">
                 <!--Vacio-->
                </div>
                     
              </div>
                 
              <div class="col-12">
                <div class="form-group">
                    <label>Dirección:</label>
                    <h:inputText validatorMessage="La dirección no es válida" pt:placeholder="Ingrese su Dirección" id="direccion" styleClass="single-input-secondary" value="#{solicitudesBean.solicitud.direccion}" >
                                         <f:validateRegex pattern="[A-Za-zÁÉÍÓÚñáéíóúÑ ]{1,}"></f:validateRegex>
                                    </h:inputText>
                                    <h:message for="direccion" style="color:red"></h:message>
                </div>
              </div>
            </div>
              
            
          
            
            
        </div>
        <div class="col-lg-6">
         
            <div class="row">
                   <h2 class="contact-title">Datos de la librería:</h2>
              <div class="col-12">
                <div class="form-group">
                    <label>Nombre de la Librería:</label>
                    <!--<textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder = 'Enter Message'></textarea>-->
                       <h:inputText validatorMessage="El nombre no es válido" pt:placeholder="Ingrese su Nombre" id="nameLib" styleClass="single-input-secondary" value="#{solicitudesBean.solicitud.libreria}" >
                                         <f:validateRegex pattern="[A-Za-zÁÉÍÓÚñáéíóúÑ ]{1,}"></f:validateRegex>
                                    </h:inputText>
                                    <h:message for="nameLib" style="color:red"></h:message>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                    <label>Dirección de la librería:</label>
                    <h:inputText validatorMessage="La dirección no es válida" pt:placeholder="Ingrese su Dirección" id="direccionLib" styleClass="single-input-secondary" value="#{solicitudesBean.solicitud.direccionLibreria}" >
                                         <f:validateRegex pattern="[A-Za-zÁÉÍÓÚñáéíóúÑ ]{1,}"></f:validateRegex>
                                    </h:inputText>
                                    <h:message for="direccionLib" style="color:red"></h:message>
                </div>
              </div>
              
              <div class="col-sm-6">
                            <div class="single-element-widget mt-30">
                                <label>Departamento:</label>
                                <div class="default-select" id="default-select">
                                    <h:selectOneMenu id="departamento" value="#{solicitudesBean.solicitud.departamento}" class="nice-select" validatorMessage="Necesita escoger un departamento">
                                        <f:selectItem itemValue="-1" itemLabel="Seleccione un departamento" />
                                        <f:selectItems value="#{libreriasBean.listaDepartamentos}" var="l"/>
                                         
                                        <f:ajax event="change" listener="#{libreriasBean.setListaMunicipios(solicitudesBean.solicitud.departamento)}" render="selectMunicipios"/>
                                        <f:validateRegex pattern="[A-Za-zÁÉÍÓÚñáéíóúÑ ]{1,}"></f:validateRegex>
                                    </h:selectOneMenu>
                                    <h:message for="departamento" style="color:red"></h:message>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single-element-widget mt-30">
                                <label>Municipio:</label>
                                <div class="default-select" id="default-select">
                                    <h:selectOneMenu id="selectMunicipios" value="#{solicitudesBean.solicitud.municipio}" class="nice-select" validatorMessage="Necesita escoger un municipio" >
                                        <f:selectItem itemValue="-1" itemLabel="Seleccione un municipio" />
                                        <f:selectItems value="#{libreriasBean.listaMunicipios}" var="l"/>
                                         <f:validateRegex pattern="[A-Za-zÁÉÍÓÚñáéíóúÑ ]{1,}"></f:validateRegex>
                                    </h:selectOneMenu>
                                    <h:message for="selectMunicipios" style="color:red"></h:message>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="space-60"></div>
            <div class="form-group mt-3">
              
                <h:commandButton styleClass="button button-contactForm btn_1" value="Solicitar registro de Libreria" action="#{solicitudesBean.insertarSolicitud(loginBean.usuario)}">
                                    <f:ajax execute="@form" render="@form" />
                                </h:commandButton>
            </div>
        </div>
      </div>
                </h:form> 
                <!--End Contact form-->
            </div>
        </section>
        <!-- learning part end-->
    </ui:define>

    <ui:define name="scripts">
        
    </ui:define>

</ui:composition>
