<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <meta charset="utf-8" />
        <link rel="apple-touch-icon" sizes="76x76" href="resources/img/apple-icon.png"/>
        <link rel="icon" type="image/png" href="resources/img/favicon.png"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title><ui:insert name="titulo"></ui:insert></title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
        <!-- CSS Files -->
        <h:outputStylesheet name="css/bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet name="css/main.css"/>
        <link href="../resources/css/now-ui-dashboard.css?v=1.3.0" rel="stylesheet" />
        <ui:insert name="Style"></ui:insert>
        <!-- style CSS alertify -->
        <h:outputStylesheet name="css/alertify.css"></h:outputStylesheet>
        <h:outputStylesheet name="css/default.css"></h:outputStylesheet>
        <h:outputScript name="js/alertify.js"></h:outputScript>

        <!-- CSS Just for demo purpose, don't include it in your project -->
        <h:outputStylesheet name="demo/demo.css"></h:outputStylesheet>    
    </h:head>
    <h:body>

        <div class="wrapper ">

            <!-- Start sidebar -->
            <ui:include src="components/dashboard-sidebar.xhtml"></ui:include>
            <!-- End sidebar   -->

            <div class="main-panel" id="main-panel">
                <!-- Start main menu -->
                <ui:include src="components/dashboard-menu.xhtml"></ui:include>
                <!-- End main menu -->

                <!-- Define el contenido -->
                <ui:insert name="contenido"></ui:insert>
                <!-- final contenido -->

                <!-- Start footer -->
                <ui:include src="components/dashboard-footer.xhtml"></ui:include>
                <!-- End footer-->
            </div>
        </div>
        <ui:insert name="scripts">
            <!--   Core JS Files   -->
            <h:outputScript name="js/core/jquery.min.js"></h:outputScript>
            <h:outputScript name="js/core/popper.min.js"></h:outputScript>
            <h:outputScript name="js/core/bootstrap.min.js"></h:outputScript>
            <h:outputScript name="js/plugins/perfect-scrollbar.jquery.min.js"></h:outputScript>
            <!--  Google Maps Plugin    -->
            <!--  Notifications Plugin    -->
            <h:outputScript name="js/plugins/bootstrap-notify.js"></h:outputScript>
            <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
            <h:outputScript name="js/now-ui-dashboard.min.js?v=1.3.0"></h:outputScript>
            <h:outputScript name="js/oculto.js"/>
        </ui:insert>
        <c:if test="#{not empty flash.info}">
            <script type="text/javascript">
                //<![CDATA[
                alertify.success('#{flash.info}');
                //]]>
            </script>
        </c:if>
        <c:if test="#{not empty flash.error}">
            <script type="text/javascript">
                //<![CDATA[
                alertify.error('#{flash.error}');
                //]]>
            </script>
        </c:if>
    </h:body>
</html>
