<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <title><ui:insert name="titulo" ></ui:insert> </title>
        <!-- Page icon -->
        <link rel="icon" href="resources/img/favicon.png"/>

        <ui:insert name="Style">
            <!-- Bootstrap CSS -->
            <h:outputStylesheet name="css/bootstrap.min.css"></h:outputStylesheet>
            <!-- animate CSS -->
            <h:outputStylesheet name="css/animate.css"></h:outputStylesheet>
            <!-- owl carousel CSS -->
            <h:outputStylesheet name="css/owl.carousel.min.css"></h:outputStylesheet>
            <!-- themify CSS -->
            <h:outputStylesheet name="css/themify-icons.css"></h:outputStylesheet>
            <!-- flaticon CSS -->
            <h:outputStylesheet name="css/flaticon.css"></h:outputStylesheet>
            <!-- nice-select papu xD-->
            <h:outputStylesheet name="css/nice-select.css"/>
            <!-- font awesome CSS -->
            <h:outputStylesheet name="css/magnific-popup.css"></h:outputStylesheet>
            <!-- swiper CSS -->
            <h:outputStylesheet name="css/slick.css"></h:outputStylesheet>
            <!-- style CSS -->
            <h:outputStylesheet name="css/style.css"></h:outputStylesheet>
            <!-- multizoom CSS -->
            <h:outputStylesheet name="css/multizoom.css"></h:outputStylesheet>
            <!-- CSS propio personalizado -->
            <h:outputStylesheet name="css/main.css"></h:outputStylesheet>

            <!-- style CSS alertify -->
            <h:outputStylesheet name="css/alertify.css"></h:outputStylesheet>
            <h:outputStylesheet name="css/default.css"></h:outputStylesheet>
            <h:outputScript name="js/alertify.js"></h:outputScript>
            <!-- Personalizado -->
        </ui:insert>

    </h:head>
    <h:body>

        <!--::header part start::-->
        <ui:include src="components/landing-menu.xhtml"></ui:include>
        <!-- Header part end-->

        <!-- Define el contenido -->
        <ui:insert name="contenido"></ui:insert>
        <!-- footer part start-->
        <ui:include src="components/landing-footer.xhtml" ></ui:include>
        <!-- footer part end-->


        <!-- Define los scripts -->
        <ui:insert name="scripts">
            <!-- jquery plugins here-->
            <!-- jquery -->
            <h:outputScript name="js/jquery-1.12.1.min.js"></h:outputScript>
            <!-- popper js -->
            <h:outputScript name="js/popper.min.js"></h:outputScript>
            <!-- bootstrap js -->
            <h:outputScript name="js/bootstrap.min.js"></h:outputScript>
            <!-- easing js -->
            <h:outputScript name="js/jquery.magnific-popup.js"></h:outputScript>
            <!-- swiper js -->
            <h:outputScript name="js/swiper.min.js"></h:outputScript>
            <!-- swiper js -->
            <h:outputScript name="js/masonry.pkgd.js"></h:outputScript>
            <!-- particles js -->
            <h:outputScript name="js/owl.carousel.min.js"></h:outputScript>
            <h:outputScript name="js/jquery.nice-select.min.js"></h:outputScript>
            <!-- swiper js -->
            <h:outputScript name="js/slick.min.js"></h:outputScript>
            <h:outputScript name="js/jquery.counterup.min.js"></h:outputScript>
            <h:outputScript name="js/waypoints.min.js"></h:outputScript>
            <!-- custom js -->
            <h:outputScript name="js/custom.js"></h:outputScript>
            <!-- multizoom plugin script -->
            <h:outputScript name="js/multizoom.js"></h:outputScript>
            <!-- Archivo de configuración de multizoom -->
            <h:outputScript name="js/multizoom-image.js"></h:outputScript>
            <script type="text/javascript">
                //<![CDATA[
                <c:if test="#{not empty flash.info}">
                    alertify.success('#{flash.info}');
                </c:if>
                //]]>
            </script>
        </ui:insert>

    </h:body>
</html>

